In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv("data/suumo.csv")

In [3]:
df.isnull().sum()

name             0
station          0
price            0
sikikinreikin    0
room             0
age              0
address          0
dtype: int64

In [4]:
df

,name,station,price,sikikinreikin,room,age,address
0,グラン立石,京成押上線/押上駅 歩10分,"0 4.4万円 管理費 -\nName: 0, dtype: object","0 敷- 礼- 保証金 - 敷引・償却 -\nName: 1, dtype: o...","0 ワンルーム 15.62m2 -\nName: 2, dtype: object","0 マンション 築35年\nName: 3, dtype: object","0 東京都葛飾区立石２\nName: 4, dtype: object"
1,グラン立石,京成押上線/押上駅 歩10分,"0 4.4万円 管理費 -\nName: 0, dtype: object","0 敷- 礼- 保証金 - 敷引・償却 -\nName: 1, dtype: o...","0 ワンルーム 15.62m2 -\nName: 2, dtype: object","0 マンション 築35年\nName: 3, dtype: object","0 東京都葛飾区立石２\nName: 4, dtype: object"
2,グレイス・コート,東京メトロ半蔵門線/押上駅 歩6分,"0 10.45万円 管理費 6000円\nName: 0, dtype: object","0 敷- 礼10.45万円 保証金 - 敷引・償却 -\nName: 1, dt...","0 1DK 33.53m2 西\nName: 2, dtype: object","0 マンション 築13年\nName: 3, dtype: object","0 東京都墨田区横川３\nName: 4, dtype: object"
3,東京メトロ半蔵門線 押上駅 6階建 築13年,東京メトロ半蔵門線/押上駅 歩6分,"0 10.45万円 管理費 6000円\nName: 0, dtype: object","0 敷- 礼10.45万円 保証金 - 敷引・償却 -\nName: 1, dt...","0 1DK 33.53m2 西\nName: 2, dtype: object","0 マンション 築13年\nName: 3, dtype: object","0 東京都墨田区横川３\nName: 4, dtype: object"
4,東京メトロ半蔵門線 押上駅 4階建 築13年,東京メトロ半蔵門線/押上駅 歩7分,"0 8.6万円 管理費 4000円\nName: 0, dtype: object","0 敷- 礼8.6万円 保証金 - 敷引・償却 -\nName: 1, dtyp...","0 1K 25.95m2 南東\nName: 2, dtype: object","0 マンション 築13年\nName: 3, dtype: object","0 東京都墨田区押上１\nName: 4, dtype: object"
...,...,...,...,...,...,...,...
16135,トップ押上 209号室,京成押上線/押上駅 歩4分,"0 5.1万円 管理費 9000円\nName: 0, dtype: object","0 敷- 礼- 保証金 - 敷引・償却 -\nName: 1, dtype: o...","0 ワンルーム 13.11m2 南西\nName: 2, dtype: object","0 マンション 築36年\nName: 3, dtype: object","0 東京都墨田区向島３\nName: 4, dtype: object"
16136,トップ押上,東京メトロ半蔵門線/押上駅 歩4分,"0 5.1万円 管理費 9000円\nName: 0, dtype: object","0 敷- 礼- 保証金 - 敷引・償却 -\nName: 1, dtype: o...","0 ワンルーム 13.11m2 南西\nName: 2, dtype: object","0 マンション 築36年\nName: 3, dtype: object","0 東京都墨田区向島３\nName: 4, dtype: object"
16137,ＪＲ総武線 亀戸駅 4階建 築34年,東京メトロ半蔵門線/押上駅 歩19分,"0 5.8万円 管理費 2000円\nName: 0, dtype: object","0 敷- 礼5.8万円 保証金 - 敷引・償却 -\nName: 1, dtyp...","0 1K 17m2 南西\nName: 2, dtype: object","0 マンション 築34年\nName: 3, dtype: object","0 東京都墨田区立花１\nName: 4, dtype: object"
16138,キングスガーデン,東京メトロ半蔵門線/押上駅 歩23分,"0 6.4万円 管理費 5000円 ※定期借家\nName: 0, dtype: ...","0 敷6.4万円 礼6.4万円 保証金 - 敷引・償却 -\nName: 1, ...","0 ワンルーム 17.32m2 南西\nName: 2, dtype: object","0 マンション 築16年\nName: 3, dtype: object","0 東京都墨田区立花４\nName: 4, dtype: object"
16139,ＪＲ総武線 平井駅 9階建 築16年,東京メトロ半蔵門線/押上駅 歩23分,"0 6.4万円 管理費 5000円 ※定期借家\nName: 0, dtype: ...","0 敷6.4万円 礼6.4万円 保証金 - 敷引・償却 -\nName: 1, ...","0 ワンルーム 17.32m2 南西\nName: 2, dtype: object","0 マンション 築16年\nName: 3, dtype: object","0 東京都墨田区立花４\nName: 4, dtype: object"

In [5]:
station_line_list = []
time_move_list = []

In [6]:
for i in df["station"]:
    station_line_list.append(i.split(" ")[0])
    time_move_list.append(i.split(" ")[1])

In [7]:
set(station_line_list)

{'京成押上線/押上駅', '東京メトロ半蔵門線/押上駅', '東武伊勢崎線/押上駅', '都営浅草線/押上駅'}

In [8]:
station_list = []
line_list = []

In [9]:
for i in station_line_list:
    station_list.append(i.split("/")[1])
    line_list.append(i.split("/")[0])

In [10]:
set(station_list)

{'押上駅'}

In [11]:
set(line_list)

{'京成押上線', '東京メトロ半蔵門線', '東武伊勢崎線', '都営浅草線'}

In [12]:
bus_list = []
walk_list =[]
time_list = []

In [13]:
for i in time_move_list:
    if "歩" in i:
        bus_list.append(0)
        walk_list.append(1)
        time_list.append(re.sub(r"\D", "", i))
    else:
        bus_list.append(1)
        walk_list.append(0)
        time_list.append(re.sub(r"\D", "", i))

In [14]:
set(bus_list)

{0, 1}

In [15]:
set(walk_list)

{0, 1}

In [16]:
set(time_list)

{'1',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '2',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '3',
 '30',
 '31',
 '34',
 '35',
 '4',
 '40',
 '5',
 '6',
 '7',
 '8',
 '9'}

In [17]:
#df["station"] = pd.Series(station_list)
df["line"] = pd.Series(line_list)
df["bus"] = pd.Series(bus_list)
df["walk"] = pd.Series(walk_list)
df["time"] = pd.Series(time_list).astype(float)

In [18]:
price_list = []
manage_list = []

In [19]:
df["price"].unique()

array(['0    4.4万円  管理費 -\nName: 0, dtype: object',
       '0    10.45万円  管理費 6000円\nName: 0, dtype: object',
       '0    8.6万円  管理費 4000円\nName: 0, dtype: object',
       '0    9.7万円  管理費 3000円\nName: 0, dtype: object',
       '0    8万円  管理費 8000円\nName: 0, dtype: object',
       '0    9.6万円  管理費 5000円\nName: 0, dtype: object',
       '0    16.2万円  管理費 12000円\nName: 0, dtype: object',
       '0    8.8万円  管理費 7000円\nName: 0, dtype: object',
       '0    8.1万円  管理費 5000円\nName: 0, dtype: object',
       '0    7.5万円  管理費 10000円\nName: 0, dtype: object',
       '0    10.8万円  管理費 10000円\nName: 0, dtype: object',
       '0    7.5万円  管理費 3000円\nName: 0, dtype: object',
       '0    10.9万円  管理費 7000円  ※定期借家\nName: 0, dtype: object',
       '0    6.3万円  管理費 3000円\nName: 0, dtype: object',
       '0    6.2万円  管理費 3000円\nName: 0, dtype: object',
       '0    6.5万円  管理費 2000円\nName: 0, dtype: object',
       '0    6万円  管理費 2000円\nName: 0, dtype: object',
       '0    10.5万円  管理費 8000円\nName: 0, dtype: object',
       '0    8.85万円  管理費 15000円\nName: 0, dtype: object',
       '0    10.6万円  管理費 3000円\nName: 0, dtype: object',
       '0    9.75万円  管理費 8000円\nName: 0, dtype: object',
       '0    13.55万円  管理費 15000円\nName: 0, dtype: object',
       '0    10.4万円  管理費 8000円\nName: 0, dtype: object',
       '0    10.6万円  管理費 8000円\nName: 0, dtype: object',
       '0    11.2万円  管理費 12000円\nName: 0, dtype: object',
       '0    13.3万円  管理費 10000円\nName: 0, dtype: object',
       '0    11.4万円  管理費 10000円\nName: 0, dtype: object',
       '0    9.9万円  管理費 8000円  ※定期借家\nName: 0, dtype: object',
       '0    8.1万円  管理費 3500円\nName: 0, dtype: object',
       '0    9.2万円  管理費 12000円\nName: 0, dtype: object',
       '0    13.5万円  管理費 10000円\nName: 0, dtype: object',
       '0    9.6万円  管理費 8000円\nName: 0, dtype: object',
       '0    11.4万円  管理費 12000円\nName: 0, dtype: object',
       '0    11.3万円  管理費 12000円\nName: 0, dtype: object',
       '0    9.2万円  管理費 10000円\nName: 0, dtype: object',
       '0    9.3万円  管理費 6000円\nName: 0, dtype: object',
       '0    11.5万円  管理費 12000円\nName: 0, dtype: object',
       '0    8.2万円  管理費 5000円\nName: 0, dtype: object',
       '0    7.8万円  管理費 15000円\nName: 0, dtype: object',
       '0    13.6万円  管理費 12000円\nName: 0, dtype: object',
       '0    12.8万円  管理費 7000円\nName: 0, dtype: object',
       '0    9.5万円  管理費 10000円\nName: 0, dtype: object',
       '0    9.1万円  管理費 5000円\nName: 0, dtype: object',
       '0    9.8万円  管理費 8000円\nName: 0, dtype: object',
       '0    10.1万円  管理費 5000円\nName: 0, dtype: object',
       '0    8.22万円  管理費 9800円\nName: 0, dtype: object',
       '0    12.1万円  管理費 5000円\nName: 0, dtype: object',
       '0    8.3万円  管理費 5000円\nName: 0, dtype: object',
       '0    8.9万円  管理費 8000円\nName: 0, dtype: object',
       '0    10.4万円  管理費 12000円\nName: 0, dtype: object',
       '0    12万円  管理費 10000円\nName: 0, dtype: object',
       '0    10.2万円  管理費 10000円\nName: 0, dtype: object',
       '0    8万円  管理費 5000円\nName: 0, dtype: object',
       '0    11.6万円  管理費 10000円\nName: 0, dtype: object',
       '0    7.9万円  管理費 20000円\nName: 0, dtype: object',
       '0    8万円  管理費 7000円\nName: 0, dtype: object',
       '0    10.2万円  管理費 5000円\nName: 0, dtype: object',
       '0    8.5万円  管理費 -\nName: 0, dtype: object',
       '0    12.5万円  管理費 15000円\nName: 0, dtype: object',
       '0    8.9万円  管理費 15000円\nName: 0, dtype: object',
       '0    15.4万円  管理費 12000円\nName: 0, dtype: object',
       '0    9.1万円  管理費 8000円\nName: 0, dtype: object',
       '0    16.7万円  管理費 12000円\nName: 0, dtype: object',
       '0    19.3万円  管理費 20000円\nName: 0, dtype: object',
       '0    13.5万円  管理費 5000円\nName: 0, dtype: object',
       '0    16.9万円  管理費 12000円\nName: 0, dtype: object',
       '0    9.4万円  管理費 8000円\nName: 0, dtype: object',
       '0    15.5万円  管理費 20000円\nName: 0, dtype: object',
       '0    6.8万円  管理費 10000円\nName: 0, dtype: object',
       '0    7.4万円  管理費 8000円\nName: 0, dtype: object',
       '0    10万円  管理費 8000円\nName: 0, dtype: object',
       '0    10万円  管理費 6000円\nName: 0, dtype: object',
       '0    7.7万円  管理費 8000円\nName: 0, dtype: object',
       '0    13.9万円  管理費 12000円\nName: 0, dtype: object',
       '0    7.7万円  管理費 10000円\nName: 0, dtype: object',
       '0    10.6万円  管理費 10000円\nName: 0, dtype: object',
       '0    14.3万円  管理費 12000円\nName: 0, dtype: object',
       '0    8.6万円  管理費 5000円\nName: 0, dtype: object',
       '0    8.9万円  管理費 5000円\nName: 0, dtype: object',
       '0    7.8万円  管理費 3000円\nName: 0, dtype: object',
       '0    9万円  管理費 5000円\nName: 0, dtype: object',
       '0    14.5万円  管理費 12000円\nName: 0, dtype: object',
       '0    16.3万円  管理費 20000円\nName: 0, dtype: object',
       '0    11万円  管理費 -\nName: 0, dtype: object',
       '0    7.9万円  管理費 10000円\nName: 0, dtype: object',
       '0    8.5万円  管理費 15000円\nName: 0, dtype: object',
       '0    10.5万円  管理費 10000円\nName: 0, dtype: object',
       '0    5.6万円  管理費 3000円\nName: 0, dtype: object',
       '0    9.9万円  管理費 12000円\nName: 0, dtype: object',
       '0    10万円  管理費 12000円\nName: 0, dtype: object',
       '0    8万円  管理費 3000円  ※定期借家\nName: 0, dtype: object',
       '0    8.2万円  管理費 11000円\nName: 0, dtype: object',
       '0    10.9万円  管理費 7000円\nName: 0, dtype: object',
       '0    9.3万円  管理費 15000円\nName: 0, dtype: object',
       '0    9.7万円  管理費 5000円\nName: 0, dtype: object',
       '0    10.5万円  管理費 7000円\nName: 0, dtype: object',
       '0    5.65万円  管理費 3500円\nName: 0, dtype: object',
       '0    8.5万円  管理費 5000円\nName: 0, dtype: object',
       '0    10.8万円  管理費 7000円\nName: 0, dtype: object',
       '0    7.8万円  管理費 7000円\nName: 0, dtype: object',
       '0    7.6万円  管理費 5000円\nName: 0, dtype: object',
       '0    8.3万円  管理費 7000円\nName: 0, dtype: object',
       '0    12万円  管理費 -\nName: 0, dtype: object',
       '0    6.2万円  管理費 5000円\nName: 0, dtype: object',
       '0    7.8万円  管理費 6000円\nName: 0, dtype: object',
       '0    7.3万円  管理費 -\nName: 0, dtype: object',
       '0    7.5万円  管理費 3000円  ※定期借家\nName: 0, dtype: object',
       '0    11.47万円  管理費 3300円\nName: 0, dtype: object',
       '0    4.5万円  管理費 -\nName: 0, dtype: object',
       '0    8.2万円  管理費 8000円\nName: 0, dtype: object',
       '0    5.4万円  管理費 3000円\nName: 0, dtype: object',
       '0    7.5万円  管理費 2000円\nName: 0, dtype: object',
       '0    6.7万円  管理費 3000円\nName: 0, dtype: object',
       '0    13.8万円  管理費 -\nName: 0, dtype: object',
       '0    5.8万円  管理費 2000円\nName: 0, dtype: object',
       '0    6.6万円  管理費 4000円\nName: 0, dtype: object',
       '0    5.9万円  管理費 2000円\nName: 0, dtype: object',
       '0    5.22万円  管理費 15800円\nName: 0, dtype: object',
       '0    6万円  管理費 3000円\nName: 0, dtype: object',
       '0    9万円  管理費 10000円\nName: 0, dtype: object',
       '0    7.2万円  管理費 8000円\nName: 0, dtype: object',
       '0    7.45万円  管理費 10000円\nName: 0, dtype: object',
       '0    10.1万円  管理費 12000円\nName: 0, dtype: object',
       '0    9.7万円  管理費 12000円\nName: 0, dtype: object',
       '0    7.9万円  管理費 8200円\nName: 0, dtype: object',
       '0    5.5万円  管理費 10000円\nName: 0, dtype: object',
       '0    10.1万円  管理費 3000円\nName: 0, dtype: object',
       '0    9.7万円  管理費 9000円\nName: 0, dtype: object',
       '0    11.7万円  管理費 15000円\nName: 0, dtype: object',
       '0    10.9万円  管理費 15000円\nName: 0, dtype: object',
       '0    11.3万円  管理費 5000円\nName: 0, dtype: object',
       '0    11万円  管理費 15000円\nName: 0, dtype: object',
       '0    11.1万円  管理費 15000円\nName: 0, dtype: object',
       '0    11.2万円  管理費 15000円\nName: 0, dtype: object',
       '0    13.2万円  管理費 8000円\nName: 0, dtype: object',
       '0    11.3万円  管理費 15000円\nName: 0, dtype: object',
       '0    11.4万円  管理費 15000円\nName: 0, dtype: object',
       '0    10万円  管理費 -\nName: 0, dtype: object',
       '0    11.9万円  管理費 3000円\nName: 0, dtype: object',
       '0    9万円  管理費 10000円  ※定期借家\nName: 0, dtype: object',
       '0    10万円  管理費 10000円\nName: 0, dtype: object',
       '0    8.3万円  管理費 10000円\nName: 0, dtype: object',
       '0    13.1万円  管理費 10000円\nName: 0, dtype: object',
       '0    12.3万円  管理費 12000円\nName: 0, dtype: object',
       '0    8.2万円  管理費 10000円\nName: 0, dtype: object',
       '0    7.95万円  管理費 10000円\nName: 0, dtype: object',
       '0    13.1万円  管理費 7000円\nName: 0, dtype: object',
       '0    10.75万円  管理費 10000円\nName: 0, dtype: object',
       '0    8.6万円  管理費 6000円\nName: 0, dtype: object',
       '0    12.9万円  管理費 3000円\nName: 0, dtype: object',
       '0    10.85万円  管理費 10000円\nName: 0, dtype: object',
       '0    14.9万円  管理費 -\nName: 0, dtype: object',
       '0    9.8万円  管理費 10000円\nName: 0, dtype: object',
       '0    8.5万円  管理費 10000円\nName: 0, dtype: object',
       '0    9万円  管理費 8000円\nName: 0, dtype: object',
       '0    10.9万円  管理費 10000円\nName: 0, dtype: object',
       '0    9.3万円  管理費 10000円\nName: 0, dtype: object',
       '0    9.1万円  管理費 12000円  ※定期借家\nName: 0, dtype: object',
       '0    8.7万円  管理費 12000円  ※定期借家\nName: 0, dtype: object',
       '0    8.2万円  管理費 7000円\nName: 0, dtype: object',
       '0    9.2万円  管理費 12000円  ※定期借家\nName: 0, dtype: object',
       '0    13.1万円  管理費 12000円\nName: 0, dtype: object',
       '0    9.5万円  管理費 13000円\nName: 0, dtype: object',
       '0    9.3万円  管理費 12000円  ※定期借家\nName: 0, dtype: object',
       '0    8.9万円  管理費 6000円  ※定期借家\nName: 0, dtype: object',
       '0    9.8万円  管理費 -\nName: 0, dtype: object',
       '0    13万円  管理費 10000円\nName: 0, dtype: object',
       '0    9.7万円  管理費 13000円\nName: 0, dtype: object',
       '0    9.9万円  管理費 13000円\nName: 0, dtype: object',
       '0    9万円  管理費 10500円\nName: 0, dtype: object',
       '0    15.8万円  管理費 -\nName: 0, dtype: object',
       '0    15.3万円  管理費 18000円\nName: 0, dtype: object',
       '0    7.6万円  管理費 8000円\nName: 0, dtype: object',
       '0    10万円  管理費 13000円\nName: 0, dtype: object',
       '0    11.7万円  管理費 12000円\nName: 0, dtype: object',
       '0    9.8万円  管理費 15000円\nName: 0, dtype: object',
       '0    14万円  管理費 10000円\nName: 0, dtype: object',
       '0    11.6万円  管理費 12000円\nName: 0, dtype: object',
       '0    13.4万円  管理費 10000円\nName: 0, dtype: object',
       '0    8万円  管理費 4000円\nName: 0, dtype: object',
       '0    8.2万円  管理費 10500円\nName: 0, dtype: object',
       '0    8.9万円  管理費 6000円\nName: 0, dtype: object',
       '0    9.05万円  管理費 10000円\nName: 0, dtype: object',
       '0    10.1万円  管理費 13000円\nName: 0, dtype: object',
       '0    8.4万円  管理費 10000円\nName: 0, dtype: object',
       '0    15.5万円  管理費 18000円\nName: 0, dtype: object',
       '0    9.2万円  管理費 5000円\nName: 0, dtype: object',
       '0    8.8万円  管理費 6000円\nName: 0, dtype: object',
       '0    9万円  管理費 6000円\nName: 0, dtype: object',
       '0    10.2万円  管理費 13000円\nName: 0, dtype: object',
       '0    15.6万円  管理費 18000円\nName: 0, dtype: object',
       '0    8.7万円  管理費 6000円\nName: 0, dtype: object',
       '0    10.3万円  管理費 13000円\nName: 0, dtype: object',
       '0    10.1万円  管理費 10000円\nName: 0, dtype: object',
       '0    15.7万円  管理費 18000円\nName: 0, dtype: object',
       '0    9.2万円  管理費 6000円\nName: 0, dtype: object',
       '0    14.2万円  管理費 10000円\nName: 0, dtype: object',
       '0    8.3万円  管理費 8000円\nName: 0, dtype: object',
       '0    9.2万円  管理費 -\nName: 0, dtype: object',
       '0    9.9万円  管理費 10000円\nName: 0, dtype: object',
       '0    14万円  管理費 -  ※定期借家\nName: 0, dtype: object',
       '0    8.5万円  管理費 6000円\nName: 0, dtype: object',
       '0    10.2万円  管理費 12000円  ※定期借家\nName: 0, dtype: object',
       '0    10.2万円  管理費 12000円\nName: 0, dtype: object',
       '0    10.3万円  管理費 10000円\nName: 0, dtype: object',
       '0    11.8万円  管理費 7000円\nName: 0, dtype: object',
       '0    8.12万円  管理費 10000円\nName: 0, dtype: object',
       '0    7.9万円  管理費 6000円\nName: 0, dtype: object',
       '0    9.4万円  管理費 4000円\nName: 0, dtype: object',
       '0    10.3万円  管理費 12000円\nName: 0, dtype: object',
       '0    7.9万円  管理費 3000円\nName: 0, dtype: object',
       '0    10万円  管理費 5500円\nName: 0, dtype: object',
       '0    10.4万円  管理費 10000円\nName: 0, dtype: object',
       '0    12.5万円  管理費 6000円\nName: 0, dtype: object',
       '0    12.7万円  管理費 8000円\nName: 0, dtype: object',
       '0    7.9万円  管理費 10750円\nName: 0, dtype: object',
       '0    8.4万円  管理費 7000円\nName: 0, dtype: object',
       '0    14万円  管理費 17000円\nName: 0, dtype: object',
       '0    7.4万円  管理費 3000円\nName: 0, dtype: object',
       '0    9.5万円  管理費 5000円\nName: 0, dtype: object',
       '0    8.6万円  管理費 8000円\nName: 0, dtype: object',
       '0    8.5万円  管理費 8000円\nName: 0, dtype: object',
       '0    11.5万円  管理費 5000円\nName: 0, dtype: object',
       '0    14.9万円  管理費 12000円\nName: 0, dtype: object',
       '0    15.8万円  管理費 15000円\nName: 0, dtype: object',
       '0    14.9万円  管理費 10000円\nName: 0, dtype: object',
       '0    7.65万円  管理費 15000円\nName: 0, dtype: object',
       '0    8.8万円  管理費 10000円\nName: 0, dtype: object',
       '0    16.4万円  管理費 15000円\nName: 0, dtype: object',
       '0    10.8万円  管理費 12000円\nName: 0, dtype: object',
       '0    8.7万円  管理費 3000円\nName: 0, dtype: object',
       '0    6.9万円  管理費 20000円\nName: 0, dtype: object',
       '0    8.7万円  管理費 10000円\nName: 0, dtype: object',
       '0    8.4万円  管理費 8000円\nName: 0, dtype: object',
       '0    12.5万円  管理費 10000円\nName: 0, dtype: object',
       '0    8.6万円  管理費 3300円\nName: 0, dtype: object',
       '0    14.9万円  管理費 7500円\nName: 0, dtype: object',
       '0    8.6万円  管理費 7000円\nName: 0, dtype: object',
       '0    9.3万円  管理費 3000円\nName: 0, dtype: object',
       '0    7.4万円  管理費 4000円\nName: 0, dtype: object',
       '0    9.4万円  管理費 6500円\nName: 0, dtype: object',
       '0    11.5万円  管理費 5500円\nName: 0, dtype: object',
       '0    10.5万円  管理費 12000円\nName: 0, dtype: object',
       '0    8.3万円  管理費 15000円\nName: 0, dtype: object',
       '0    8.9万円  管理費 7000円\nName: 0, dtype: object',
       '0    7.8万円  管理費 1000円\nName: 0, dtype: object',
       '0    8.9万円  管理費 11000円\nName: 0, dtype: object',
       '0    9.5万円  管理費 15000円\nName: 0, dtype: object',
       '0    8.37万円  管理費 8300円\nName: 0, dtype: object',
       '0    15.4万円  管理費 15000円\nName: 0, dtype: object',
       '0    8.15万円  管理費 15000円\nName: 0, dtype: object',
       '0    7.8万円  管理費 8000円\nName: 0, dtype: object',
       '0    13.35万円  管理費 10000円\nName: 0, dtype: object',
       '0    16.8万円  管理費 12000円\nName: 0, dtype: object',
       '0    13.45万円  管理費 10000円\nName: 0, dtype: object',
       '0    7.9万円  管理費 5000円\nName: 0, dtype: object',
       '0    16.7万円  管理費 8000円\nName: 0, dtype: object',
       '0    10.1万円  管理費 9000円\nName: 0, dtype: object',
       '0    8.9万円  管理費 3000円\nName: 0, dtype: object',
       '0    14.2万円  管理費 8000円\nName: 0, dtype: object',
       '0    9.4万円  管理費 10000円\nName: 0, dtype: object',
       '0    7.5万円  管理費 15000円\nName: 0, dtype: object',
       '0    19.4万円  管理費 20000円\nName: 0, dtype: object',
       '0    13.55万円  管理費 10000円\nName: 0, dtype: object',
       '0    7.8万円  管理費 -\nName: 0, dtype: object',
       '0    8.9万円  管理費 9000円\nName: 0, dtype: object',
       '0    15.2万円  管理費 10000円\nName: 0, dtype: object',
       '0    15.7万円  管理費 15000円\nName: 0, dtype: object',
       '0    8.3万円  管理費 6000円\nName: 0, dtype: object',
       '0    9.9万円  管理費 15000円\nName: 0, dtype: object',
       '0    19.5万円  管理費 20000円\nName: 0, dtype: object',
       '0    9万円  管理費 3000円\nName: 0, dtype: object',
       '0    19.6万円  管理費 20000円\nName: 0, dtype: object',
       '0    9.55万円  管理費 5000円\nName: 0, dtype: object',
       '0    7.87万円  管理費 8300円\nName: 0, dtype: object',
       '0    8.4万円  管理費 3000円\nName: 0, dtype: object',
       '0    7.9万円  管理費 10500円\nName: 0, dtype: object',
       '0    19.7万円  管理費 20000円\nName: 0, dtype: object',
       '0    11.5万円  管理費 -\nName: 0, dtype: object',
       '0    7.4万円  管理費 10000円\nName: 0, dtype: object',
       '0    9.8万円  管理費 7500円\nName: 0, dtype: object',
       '0    9.75万円  管理費 5000円\nName: 0, dtype: object',
       '0    8.8万円  管理費 5000円\nName: 0, dtype: object',
       '0    19.9万円  管理費 20000円\nName: 0, dtype: object',
       '0    16.1万円  管理費 15000円\nName: 0, dtype: object',
       '0    6.1万円  管理費 3000円\nName: 0, dtype: object',
       '0    16.2万円  管理費 15000円\nName: 0, dtype: object',
       '0    9.9万円  管理費 -\nName: 0, dtype: object',
       '0    7.5万円  管理費 -\nName: 0, dtype: object',
       '0    17.8万円  管理費 12000円\nName: 0, dtype: object',
       '0    16.5万円  管理費 15000円\nName: 0, dtype: object',
       '0    7.8万円  管理費 2000円\nName: 0, dtype: object',
       '0    7.9万円  管理費 9000円\nName: 0, dtype: object',
       '0    14.7万円  管理費 12000円\nName: 0, dtype: object',
       '0    7.2万円  管理費 15000円\nName: 0, dtype: object',
       '0    10.4万円  管理費 5000円\nName: 0, dtype: object',
       '0    7万円  管理費 15000円\nName: 0, dtype: object',
       '0    9万円  管理費 4000円  ※定期借家\nName: 0, dtype: object',
       '0    7.2万円  管理費 9800円\nName: 0, dtype: object',
       '0    10.7万円  管理費 10000円\nName: 0, dtype: object',
       '0    9.4万円  管理費 15000円\nName: 0, dtype: object',
       '0    9万円  管理費 -\nName: 0, dtype: object',
       '0    9.55万円  管理費 3500円\nName: 0, dtype: object',
       '0    11.1万円  管理費 8000円\nName: 0, dtype: object',
       '0    9.6万円  管理費 15000円\nName: 0, dtype: object',
       '0    22.6万円  管理費 10000円\nName: 0, dtype: object',
       '0    7.5万円  管理費 3300円\nName: 0, dtype: object',
       '0    12.8万円  管理費 5000円\nName: 0, dtype: object',
       '0    8.7万円  管理費 4000円\nName: 0, dtype: object',
       '0    7.6万円  管理費 3000円\nName: 0, dtype: object',
       '0    12.8万円  管理費 12000円\nName: 0, dtype: object',
       '0    13.7万円  管理費 6500円\nName: 0, dtype: object',
       '0    10.5万円  管理費 5000円\nName: 0, dtype: object',
       '0    7.4万円  管理費 5000円\nName: 0, dtype: object',
       '0    7.3万円  管理費 3000円\nName: 0, dtype: object',
       '0    6.7万円  管理費 8000円\nName: 0, dtype: object',
       '0    19.8万円  管理費 12000円\nName: 0, dtype: object',
       '0    7.1万円  管理費 5000円\nName: 0, dtype: object',
       '0    6万円  管理費 -\nName: 0, dtype: object',
       '0    9.9万円  管理費 8000円\nName: 0, dtype: object',
       '0    10.9万円  管理費 5500円\nName: 0, dtype: object',
       '0    14.3万円  管理費 6500円\nName: 0, dtype: object',
       '0    11万円  管理費 5500円\nName: 0, dtype: object',
       '0    14.4万円  管理費 6500円\nName: 0, dtype: object',
       '0    11.1万円  管理費 5500円\nName: 0, dtype: object',
       '0    14.5万円  管理費 6500円\nName: 0, dtype: object',
       '0    11.2万円  管理費 5500円\nName: 0, dtype: object',
       '0    14.6万円  管理費 6500円\nName: 0, dtype: object',
       '0    20.6万円  管理費 12000円\nName: 0, dtype: object',
       '0    5.7万円  管理費 3000円\nName: 0, dtype: object',
       '0    7.6万円  管理費 6000円\nName: 0, dtype: object',
       '0    8万円  管理費 9500円\nName: 0, dtype: object',
       '0    9.2万円  管理費 7200円\nName: 0, dtype: object',
       '0    5.8万円  管理費 3000円\nName: 0, dtype: object',
       '0    5.4万円  管理費 5000円\nName: 0, dtype: object',
       '0    8.2万円  管理費 4000円\nName: 0, dtype: object',
       '0    6.5万円  管理費 4000円\nName: 0, dtype: object',
       '0    7.1万円  管理費 2000円\nName: 0, dtype: object',
       '0    6.9万円  管理費 -\nName: 0, dtype: object',
       '0    7.3万円  管理費 8000円\nName: 0, dtype: object',
       '0    5.9万円  管理費 3000円\nName: 0, dtype: object',
       '0    7万円  管理費 3000円\nName: 0, dtype: object',
       '0    7.5万円  管理費 5000円\nName: 0, dtype: object',
       '0    6.6万円  管理費 -\nName: 0, dtype: object',
       '0    6.7万円  管理費 -\nName: 0, dtype: object',
       '0    7万円  管理費 -\nName: 0, dtype: object',
       '0    6.8万円  管理費 -\nName: 0, dtype: object',
       '0    6.5万円  管理費 3200円\nName: 0, dtype: object',
       '0    5.9万円  管理費 5000円\nName: 0, dtype: object',
       '0    5.8万円  管理費 5000円\nName: 0, dtype: object',
       '0    6.5万円  管理費 -\nName: 0, dtype: object',
       '0    5.7万円  管理費 5000円\nName: 0, dtype: object',

In [20]:
a = "0    7.35万円  管理費 -\nName: 0, dtype: object"

In [21]:
for i in range(0,11):
    print(i,":",a.split(" ")[i])

0 : 0
1 :
2 :
3 :
4 : 7.35万円
5 :
6 : 管理費
7 : -
Name:
8 : 0,
9 : dtype:
10 : object

In [22]:
for i in df["price"]:
    price_list.append(i.split(" ")[4].replace("万円",""))
    manage_list.append(i.split(" ")[7].replace("円",""))

In [23]:
set(price_list)

{'10',
 '10.05',
 '10.1',
 '10.12',
 '10.2',
 '10.25',
 '10.3',
 '10.4',
 '10.45',
 '10.5',
 '10.6',
 '10.7',
 '10.75',
 '10.8',
 '10.85',
 '10.9',
 '10.95',
 '11',
 '11.1',
 '11.2',
 '11.3',
 '11.4',
 '11.47',
 '11.5',
 '11.55',
 '11.6',
 '11.7',
 '11.8',
 '11.9',
 '12',
 '12.1',
 '12.3',
 '12.4',
 '12.5',
 '12.6',
 '12.7',
 '12.8',
 '12.9',
 '13',
 '13.1',
 '13.2',
 '13.3',
 '13.35',
 '13.4',
 '13.45',
 '13.48',
 '13.5',
 '13.55',
 '13.6',
 '13.65',
 '13.7',
 '13.8',
 '13.9',
 '14',
 '14.2',
 '14.3',
 '14.4',
 '14.5',
 '14.6',
 '14.7',
 '14.8',
 '14.9',
 '15',
 '15.1',
 '15.2',
 '15.3',
 '15.4',
 '15.5',
 '15.6',
 '15.7',
 '15.8',
 '15.9',
 '16',
 '16.1',
 '16.2',
 '16.3',
 '16.4',
 '16.5',
 '16.6',
 '16.7',
 '16.8',
 '16.9',
 '17',
 '17.1',
 '17.2',
 '17.3',
 '17.4',
 '17.5',
 '17.6',
 '17.7',
 '17.8',
 '17.9',
 '18',
 '18.4',
 '18.5',
 '18.6',
 '18.7',
 '18.8',
 '18.9',
 '19',
 '19.1',
 '19.3',
 '19.4',
 '19.5',
 '19.6',
 '19.7',
 '19.8',
 '19.9',
 '20',
 '20.1',
 '20.2',
 '20.3',
 '20.4',
 '20.5',
 '20.6',
 '21',
 '21.5',
 '22.6',
 '23',
 '23.7',
 '24',
 '24.5',
 '26',
 '3.3',
 '3.8',
 '4.3',
 '4.4',
 '4.5',
 '4.7',
 '4.8',
 '4.9',
 '5',
 '5.1',
 '5.15',
 '5.2',
 '5.22',
 '5.28',
 '5.3',
 '5.37',
 '5.39',
 '5.4',
 '5.42',
 '5.5',
 '5.55',
 '5.6',
 '5.62',
 '5.65',
 '5.7',
 '5.75',
 '5.8',
 '5.9',
 '6',
 '6.1',
 '6.2',
 '6.3',
 '6.4',
 '6.5',
 '6.55',
 '6.6',
 '6.7',
 '6.75',
 '6.8',
 '6.85',
 '6.9',
 '6.95',
 '7',
 '7.05',
 '7.1',
 '7.2',
 '7.25',
 '7.3',
 '7.35',
 '7.4',
 '7.45',
 '7.5',
 '7.55',
 '7.6',
 '7.65',
 '7.7',
 '7.75',
 '7.8',
 '7.85',
 '7.87',
 '7.9',
 '7.95',
 '8',
 '8.05',
 '8.1',
 '8.12',
 '8.13',
 '8.15',
 '8.2',
 '8.22',
 '8.25',
 '8.3',
 '8.35',
 '8.37',
 '8.4',
 '8.45',
 '8.48',
 '8.5',
 '8.57',
 '8.6',
 '8.7',
 '8.75',
 '8.8',
 '8.85',
 '8.9',
 '8.95',
 '9',
 '9.05',
 '9.1',
 '9.15',
 '9.2',
 '9.3',
 '9.35',
 '9.4',
 '9.45',
 '9.5',
 '9.55',
 '9.6',
 '9.65',
 '9.7',
 '9.75',
 '9.8',
 '9.85',
 '9.9'}

In [24]:
set(manage_list)

{'-',
 '-\nName:',
 '1000\nName:',
 '10000',
 '10000\nName:',
 '10200\nName:',
 '10500',
 '10500\nName:',
 '10700\nName:',
 '10750\nName:',
 '11000\nName:',
 '12000',
 '12000\nName:',
 '1300\nName:',
 '13000',
 '13000\nName:',
 '13799\nName:',
 '13800\nName:',
 '14000\nName:',
 '1500\nName:',
 '15000',
 '15000\nName:',
 '15800\nName:',
 '17000\nName:',
 '17500\nName:',
 '18000\nName:',
 '2000',
 '2000\nName:',
 '20000\nName:',
 '2500\nName:',
 '25000\nName:',
 '3000',
 '3000\nName:',
 '3200\nName:',
 '3300',
 '3300\nName:',
 '3500\nName:',
 '4000',
 '4000\nName:',
 '4200\nName:',
 '4500\nName:',
 '5000',
 '5000\nName:',
 '5400\nName:',
 '5500\nName:',
 '5700\nName:',
 '6000',
 '6000\nName:',
 '6500\nName:',
 '7000',
 '7000\nName:',
 '7200\nName:',
 '7500\nName:',
 '8000',
 '8000\nName:',
 '8200\nName:',
 '8300\nName:',
 '8500\nName:',
 '9000\nName:',
 '9500\nName:',
 '9800\nName:'}

In [25]:
manage_fee_list = []

In [26]:
for i in manage_list:
    if "-" in i:
        manage_fee_list.append("0")
    else:
        manage_fee_list.append(re.sub(r"\D", "", i))

In [27]:
set(manage_fee_list)

{'0',
 '1000',
 '10000',
 '10200',
 '10500',
 '10700',
 '10750',
 '11000',
 '12000',
 '1300',
 '13000',
 '13799',
 '13800',
 '14000',
 '1500',
 '15000',
 '15800',
 '17000',
 '17500',
 '18000',
 '2000',
 '20000',
 '2500',
 '25000',
 '3000',
 '3200',
 '3300',
 '3500',
 '4000',
 '4200',
 '4500',
 '5000',
 '5400',
 '5500',
 '5700',
 '6000',
 '6500',
 '7000',
 '7200',
 '7500',
 '8000',
 '8200',
 '8300',
 '8500',
 '9000',
 '9500',
 '9800'}

In [28]:
df["price"] = pd.Series(price_list).astype(float)
df["manage"] = pd.Series(manage_fee_list).astype(float)

In [29]:
sikikin_pre = []
reikin_pre = []
deposit_pre = []
sikibiki_pre = []

In [30]:
df["sikikinreikin"].unique()

array(['0    敷-  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼10.45万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼8.6万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷9.7万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼9.6万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷16.2万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.8万円  礼8.8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.1万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷7.5万円  礼7.5万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷10.9万円  礼10.9万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷6.5万円  礼6.5万円  保証金\xa0-  敷引・償却\xa06.5万円\nName: 1, dtype: object',
       '0    敷6万円  礼6万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷10.5万円  礼10.5万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.85万円  礼8.85万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷10.6万円  礼10.6万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼9.75万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷40.65万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼10.4万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼10.6万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷11.2万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷13.3万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷11.4万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼9.9万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼9.2万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷13.5万円  礼13.5万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷9.6万円  礼9.6万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷11.3万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷9.2万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼-  保証金\xa09.3万円  敷引・償却\xa09.3万円\nName: 1, dtype: object',
       '0    敷11.5万円  礼11.5万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.2万円  礼8.2万円  保証金\xa0-  敷引・償却\xa08.2万円\nName: 1, dtype: object',
       '0    敷13.5万円  礼13.5万円  保証金\xa0-  敷引・償却\xa013.5万円\nName: 1, dtype: object',
       '0    敷13.6万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷9.5万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8万円  礼8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷9.1万円  礼9.1万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷9.8万円  礼9.8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼10.1万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.22万円  礼8.22万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼4.15万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.9万円  礼8.9万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷12万円  礼12万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷10.2万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷11.6万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼-  保証金\xa015.8万円  敷引・償却\xa015.8万円\nName: 1, dtype: object',
       '0    敷16.2万円  礼16.2万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8万円  礼4万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷5万円  礼5万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.5万円  礼8.5万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.9万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷15.4万円  礼15.4万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷16.7万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷19.3万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷16.9万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷16.9万円  礼16.9万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷9.4万円  礼9.4万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼-  保証金\xa06.8万円  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷9.1万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼10万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷13.9万円  礼13.9万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷7.7万円  礼15.4万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷10.6万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷14.3万円  礼14.3万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.6万円  礼-  保証金\xa0-  敷引・償却\xa08.6万円\nName: 1, dtype: object',
       '0    敷-  礼8.9万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼9万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷14.5万円  礼14.5万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷11万円  礼11万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼7.9万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷9.9万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷10万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8万円  礼-  保証金\xa0-  敷引・償却\xa04万円\nName: 1, dtype: object',
       '0    敷-  礼-  保証金\xa08.2万円  敷引・償却\xa08.2万円\nName: 1, dtype: object',
       '0    敷9.7万円  礼9.7万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷10.5万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼5.65万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷10.8万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷7.8万円  礼7.8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷7.6万円  礼7.6万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.3万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷7.5万円  礼7.5万円  保証金\xa0-  敷引・償却\xa03.75万円\nName: 1, dtype: object',
       '0    敷5.74万円  礼5.74万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷4.5万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.2万円  礼8.2万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷13.8万円  礼13.8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷5.8万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷6.2万円  礼6.2万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷6.6万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷5.9万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼5.22万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷7.7万円  礼7.7万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷7.2万円  礼7.2万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷7.45万円  礼7.45万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷10.1万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼-  保証金\xa07.9万円  敷引・償却\xa07.9万円\nName: 1, dtype: object',
       '0    敷9.2万円  礼9.2万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷10.1万円  礼5.05万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷11.7万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷11.3万円  礼11.3万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼13.2万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷13.2万円  礼26.4万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷10万円  礼10万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷11.9万円  礼17.85万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷9万円  礼9万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷13.1万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷12.3万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.2万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼7.95万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷6.55万円  礼13.1万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷33.88万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷12.9万円  礼25.8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷14.9万円  礼14.9万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷9.8万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.5万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷10.9万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼-  保証金\xa09.3万円  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼8.7万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼9.1万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷13万円  礼13万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷11.5万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷15.8万円  礼15.8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷13.6万円  礼13.6万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼15.3万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼7.6万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷11.7万円  礼11.7万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷14万円  礼14万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷13.4万円  礼13.4万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼8.2万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼9.05万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼8.4万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼15.6万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼9.3万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷14.2万円  礼14.2万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼8.3万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.3万円  礼8.3万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷28万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼10.2万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷11.8万円  礼11.8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.12万円  礼8.12万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷7.9万円  礼7.9万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷10.3万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷12.5万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷12.7万円  礼12.7万円  保証金\xa0-  敷引・償却\xa012.7万円\nName: 1, dtype: object',
       '0    敷10.4万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.4万円  礼4.2万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷14万円  礼14万円  保証金\xa0-  敷引・償却\xa014万円\nName: 1, dtype: object',
       '0    敷3.7万円  礼7.4万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.3万円  礼4.15万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷4.15万円  礼8.3万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼9.5万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.6万円  礼8.6万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷15.8万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼-  保証金\xa07.65万円  敷引・償却\xa07.65万円\nName: 1, dtype: object',
       '0    敷-  礼-  保証金\xa07.65万円  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.7万円  礼8.7万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼-  保証金\xa013.8万円  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼-  保証金\xa013.8万円  敷引・償却\xa013.8万円\nName: 1, dtype: object',
       '0    敷4万円  礼8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷12.5万円  礼12.5万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷9.3万円  礼9.3万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼9.4万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼11.5万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼7.8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.37万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼10.5万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷16.8万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8万円  礼12万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷7.9万円  礼7.9万円  保証金\xa0-  敷引・償却\xa07.9万円\nName: 1, dtype: object',
       '0    敷16.7万円  礼16.7万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷9.4万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼7.5万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷19.4万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷15.2万円  礼15.2万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷15.7万円  礼15.7万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷19.5万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷19.6万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷19.6万円  礼-  保証金\xa0-  敷引・償却\xa019.6万円\nName: 1, dtype: object',
       '0    敷9.55万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷7.87万円  礼7.87万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷19.7万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷19.7万円  礼-  保証金\xa0-  敷引・償却\xa019.7万円\nName: 1, dtype: object',
       '0    敷7.4万円  礼7.4万円  保証金\xa0-  敷引・償却\xa07.4万円\nName: 1, dtype: object',
       '0    敷-  礼9.8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷7.4万円  礼7.4万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷9.75万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷8.8万円  礼-  保証金\xa0-  敷引・償却\xa08.8万円\nName: 1, dtype: object',
       '0    敷19.9万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷19.9万円  礼-  保証金\xa0-  敷引・償却\xa019.9万円\nName: 1, dtype: object',
       '0    敷16.1万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷14.3万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷9.9万円  礼9.9万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷14.5万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷17.8万円  礼17.8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷16.5万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷14.7万円  礼14.7万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼10.8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷9.3万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼7万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼14.4万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷7.2万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷9.55万円  礼9.55万円  保証金\xa0-  敷引・償却\xa09.55万円\nName: 1, dtype: object',
       '0    敷11.1万円  礼11.1万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷9.6万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷45.2万円  礼45.2万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷7.5万円  礼11.25万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷12.8万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷11.5万円  礼-  保証金\xa0-  敷引・償却\xa011.5万円\nName: 1, dtype: object',
       '0    敷12.8万円  礼12.8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼13.7万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷6.7万円  礼6.7万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷6.2万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷19.8万円  礼19.8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷27.6万円  礼13.8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼10.9万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼14.3万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼11万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷7.8万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷6.5万円  礼6.5万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼11.1万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼14.5万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼11.2万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼7.7万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼14.6万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷20.6万円  礼20.6万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷5.7万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷2.9万円  礼5.8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷4.1万円  礼8.2万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷6.7万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷6.5万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷7.1万円  礼7.1万円  保証金\xa0-  敷引・償却\xa03.55万円\nName: 1, dtype: object',
       '0    敷6.9万円  礼6.9万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼7.3万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷7万円  礼7万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷6.6万円  礼6.6万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷6.7万円  礼3.35万円  保証金\xa0-  敷引・償却\xa06.7万円\nName: 1, dtype: object',
       '0    敷6.8万円  礼6.8万円  保証金\xa0-  敷引・償却\xa06.8万円\nName: 1, dtype: object',
       '0    敷7.3万円  礼7.3万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷5.4万円  礼2.7万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷7.05万円  礼7.05万円  保証金\xa0-  敷引・償却\xa07.05万円\nName: 1, dtype: object',
       '0    敷5万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷6.3万円  礼6.3万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷5.5万円  礼5.5万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷5.9万円  礼5.9万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷5.7万円  礼5.7万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼5.42万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷6.8万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷5.62万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷12.3万円  礼24.6万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷6.2万円  礼9.3万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷6.8万円  礼6.8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷6万円  礼9万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷11.1万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷12万円  礼24万円  保証金\xa0-  敷引・償却\xa012万円\nName: 1, dtype: object',
       '0    敷12万円  礼24万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷12.6万円  礼12.6万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷10.7万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷4.9万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷11万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷14.2万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼-  保証金\xa09.2万円  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼12.1万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼7.35万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷9.65万円  礼-  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼13.1万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',
       '0    敷-  礼6.9万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object',

In [31]:
a = "0    敷12.9万円  礼25.8万円  保証金\xa0-  敷引・償却\xa0-\nName: 1, dtype: object"

In [32]:
for i in range(0,14):
    print(i,":",a.split(" ")[i])

0 : 0
1 :
2 :
3 :
4 : 敷12.9万円
5 :
6 : 礼25.8万円
7 :
8 : 保証金 -
9 :
10 : 敷引・償却 -
Name:
11 : 1,
12 : dtype:
13 : object

In [33]:
for i in df["sikikinreikin"]:
    sikikin_pre.append(i.split(" ")[4])
    reikin_pre.append(i.split(" ")[6])
    deposit_pre.append(i.split(" ")[8])
    sikibiki_pre.append(i.split(" ")[10])

In [34]:
set(sikikin_pre)

{'敷-',
 '敷10.12万円',
 '敷10.1万円',
 '敷10.25万円',
 '敷10.2万円',
 '敷10.3万円',
 '敷10.4万円',
 '敷10.5万円',
 '敷10.6万円',
 '敷10.7万円',
 '敷10.8万円',
 '敷10.9万円',
 '敷10万円',
 '敷11.1万円',
 '敷11.2万円',
 '敷11.3万円',
 '敷11.4万円',
 '敷11.5万円',
 '敷11.6万円',
 '敷11.7万円',
 '敷11.8万円',
 '敷11.9万円',
 '敷11万円',
 '敷12.1万円',
 '敷12.3万円',
 '敷12.4万円',
 '敷12.5万円',
 '敷12.6万円',
 '敷12.7万円',
 '敷12.8万円',
 '敷12.9万円',
 '敷12万円',
 '敷13.1万円',
 '敷13.2万円',
 '敷13.3万円',
 '敷13.48万円',
 '敷13.4万円',
 '敷13.5万円',
 '敷13.6万円',
 '敷13.7万円',
 '敷13.8万円',
 '敷13.9万円',
 '敷13万円',
 '敷14.2万円',
 '敷14.3万円',
 '敷14.4万円',
 '敷14.5万円',
 '敷14.6万円',
 '敷14.7万円',
 '敷14.8万円',
 '敷14.9万円',
 '敷14万円',
 '敷15.1万円',
 '敷15.2万円',
 '敷15.3万円',
 '敷15.4万円',
 '敷15.5万円',
 '敷15.6万円',
 '敷15.7万円',
 '敷15.8万円',
 '敷15.9万円',
 '敷15万円',
 '敷16.1万円',
 '敷16.2万円',
 '敷16.3万円',
 '敷16.4万円',
 '敷16.5万円',
 '敷16.6万円',
 '敷16.7万円',
 '敷16.8万円',
 '敷16.9万円',
 '敷16万円',
 '敷17.1万円',
 '敷17.2万円',
 '敷17.3万円',
 '敷17.4万円',
 '敷17.5万円',
 '敷17.6万円',
 '敷17.7万円',
 '敷17.8万円',
 '敷17.9万円',
 '敷17万円',
 '敷18.4万円',
 '敷18.5万円',
 '敷18.6万円',
 '敷18.7万円',
 '敷18.8万円',
 '敷18.9万円',
 '敷18万円',
 '敷19.2万円',
 '敷19.3万円',
 '敷19.4万円',
 '敷19.5万円',
 '敷19.6万円',
 '敷19.7万円',
 '敷19.8万円',
 '敷19.9万円',
 '敷19万円',
 '敷2.6万円',
 '敷2.9万円',
 '敷20.1万円',
 '敷20.2万円',
 '敷20.4万円',
 '敷20.5万円',
 '敷20.6万円',
 '敷20万円',
 '敷21.5万円',
 '敷21.8万円',
 '敷23.7万円',
 '敷23万円',
 '敷24.5万円',
 '敷24万円',
 '敷27.6万円',
 '敷28万円',
 '敷29.6万円',
 '敷3.25万円',
 '敷3.35万円',
 '敷3.45万円',
 '敷3.4万円',
 '敷3.5万円',
 '敷3.75万円',
 '敷3.7万円',
 '敷3.8万円',
 '敷3.9万円',
 '敷31.8万円',
 '敷33.88万円',
 '敷34.4万円',
 '敷4.15万円',
 '敷4.1万円',
 '敷4.2万円',
 '敷4.3万円',
 '敷4.45万円',
 '敷4.4万円',
 '敷4.5万円',
 '敷4.6万円',
 '敷4.7万円',
 '敷4.8万円',
 '敷4.95万円',
 '敷4.9万円',
 '敷40.65万円',
 '敷40万円',
 '敷45.2万円',
 '敷4万円',
 '敷5.15万円',
 '敷5.2万円',
 '敷5.3万円',
 '敷5.4万円',
 '敷5.5万円',
 '敷5.62万円',
 '敷5.74万円',
 '敷5.75万円',
 '敷5.7万円',
 '敷5.85万円',
 '敷5.8万円',
 '敷5.9万円',
 '敷52万円',
 '敷5万円',
 '敷6.1万円',
 '敷6.2万円',
 '敷6.3万円',
 '敷6.4万円',
 '敷6.55万円',
 '敷6.5万円',
 '敷6.6万円',
 '敷6.75万円',
 '敷6.7万円',
 '敷6.85万円',
 '敷6.8万円',
 '敷6.95万円',
 '敷6.9万円',
 '敷6万円',
 '敷7.05万円',
 '敷7.1万円',
 '敷7.25万円',
 '敷7.2万円',
 '敷7.35万円',
 '敷7.3万円',
 '敷7.45万円',
 '敷7.4万円',
 '敷7.55万円',
 '敷7.5万円',
 '敷7.65万円',
 '敷7.6万円',
 '敷7.7万円',
 '敷7.87万円',
 '敷7.8万円',
 '敷7.9万円',
 '敷7万円',
 '敷8.12万円',
 '敷8.13万円',
 '敷8.1万円',
 '敷8.22万円',
 '敷8.25万円',
 '敷8.2万円',
 '敷8.37万円',
 '敷8.3万円',
 '敷8.48万円',
 '敷8.4万円',
 '敷8.57万円',
 '敷8.5万円',
 '敷8.6万円',
 '敷8.75万円',
 '敷8.7万円',
 '敷8.85万円',
 '敷8.8万円',
 '敷8.9万円',
 '敷8万円',
 '敷9.05万円',
 '敷9.15万円',
 '敷9.1万円',
 '敷9.2万円',
 '敷9.3万円',
 '敷9.4万円',
 '敷9.55万円',
 '敷9.5万円',
 '敷9.65万円',
 '敷9.6万円',
 '敷9.75万円',
 '敷9.7万円',
 '敷9.85万円',
 '敷9.8万円',
 '敷9.9万円',
 '敷9万円'}

In [35]:
set(reikin_pre)

{'礼-',
 '礼10.05万円',
 '礼10.12万円',
 '礼10.1万円',
 '礼10.2万円',
 '礼10.35万円',
 '礼10.3万円',
 '礼10.44万円',
 '礼10.45万円',
 '礼10.4万円',
 '礼10.5万円',
 '礼10.6万円',
 '礼10.7万円',
 '礼10.8万円',
 '礼10.9万円',
 '礼10万円',
 '礼11.1万円',
 '礼11.25万円',
 '礼11.2万円',
 '礼11.3万円',
 '礼11.4万円',
 '礼11.5万円',
 '礼11.6万円',
 '礼11.7万円',
 '礼11.8万円',
 '礼11.9万円',
 '礼11万円',
 '礼12.1万円',
 '礼12.3万円',
 '礼12.5万円',
 '礼12.6万円',
 '礼12.7万円',
 '礼12.8万円',
 '礼12.9万円',
 '礼12万円',
 '礼13.1万円',
 '礼13.2万円',
 '礼13.3万円',
 '礼13.4万円',
 '礼13.5万円',
 '礼13.6万円',
 '礼13.7万円',
 '礼13.8万円',
 '礼13.9万円',
 '礼13万円',
 '礼14.2万円',
 '礼14.3万円',
 '礼14.4万円',
 '礼14.5万円',
 '礼14.6万円',
 '礼14.7万円',
 '礼14.8万円',
 '礼14.9万円',
 '礼14万円',
 '礼15.1万円',
 '礼15.2万円',
 '礼15.3万円',
 '礼15.4万円',
 '礼15.5万円',
 '礼15.6万円',
 '礼15.7万円',
 '礼15.8万円',
 '礼15.9万円',
 '礼15万円',
 '礼16.2万円',
 '礼16.4万円',
 '礼16.7万円',
 '礼16.8万円',
 '礼16.9万円',
 '礼16万円',
 '礼17.25万円',
 '礼17.2万円',
 '礼17.4万円',
 '礼17.85万円',
 '礼17.8万円',
 '礼17万円',
 '礼18.4万円',
 '礼18.5万円',
 '礼18.7万円',
 '礼18.9万円',
 '礼18万円',
 '礼19.8万円',
 '礼19万円',
 '礼2.6万円',
 '礼2.7万円',
 '礼20.1万円',
 '礼20.2万円',
 '礼20.4万円',
 '礼20.5万円',
 '礼20.6万円',
 '礼20万円',
 '礼21.1万円',
 '礼22.4万円',
 '礼22.6万円',
 '礼23万円',
 '礼24.6万円',
 '礼24万円',
 '礼25.8万円',
 '礼26.4万円',
 '礼26万円',
 '礼28.6万円',
 '礼28.8万円',
 '礼3.35万円',
 '礼3.45万円',
 '礼3.4万円',
 '礼3.5万円',
 '礼3.75万円',
 '礼31.8万円',
 '礼35.8万円',
 '礼4.15万円',
 '礼4.2万円',
 '礼4.35万円',
 '礼4.3万円',
 '礼4.75万円',
 '礼4.7万円',
 '礼4.8万円',
 '礼45.2万円',
 '礼4万円',
 '礼5.05万円',
 '礼5.15万円',
 '礼5.1万円',
 '礼5.22万円',
 '礼5.2万円',
 '礼5.3万円',
 '礼5.42万円',
 '礼5.4万円',
 '礼5.5万円',
 '礼5.65万円',
 '礼5.74万円',
 '礼5.7万円',
 '礼5.8万円',
 '礼5.9万円',
 '礼5万円',
 '礼6.1万円',
 '礼6.2万円',
 '礼6.3万円',
 '礼6.45万円',
 '礼6.4万円',
 '礼6.5万円',
 '礼6.6万円',
 '礼6.75万円',
 '礼6.7万円',
 '礼6.85万円',
 '礼6.8万円',
 '礼6.95万円',
 '礼6.9万円',
 '礼6万円',
 '礼7.05万円',
 '礼7.1万円',
 '礼7.25万円',
 '礼7.2万円',
 '礼7.35万円',
 '礼7.3万円',
 '礼7.45万円',
 '礼7.4万円',
 '礼7.5万円',
 '礼7.65万円',
 '礼7.6万円',
 '礼7.75万円',
 '礼7.7万円',
 '礼7.87万円',
 '礼7.8万円',
 '礼7.95万円',
 '礼7.9万円',
 '礼7万円',
 '礼8.05万円',
 '礼8.12万円',
 '礼8.13万円',
 '礼8.1万円',
 '礼8.22万円',
 '礼8.25万円',
 '礼8.2万円',
 '礼8.3万円',
 '礼8.4万円',
 '礼8.5万円',
 '礼8.6万円',
 '礼8.75万円',
 '礼8.7万円',
 '礼8.85万円',
 '礼8.8万円',
 '礼8.95万円',
 '礼8.9万円',
 '礼8万円',
 '礼9.05万円',
 '礼9.15万円',
 '礼9.1万円',
 '礼9.2万円',
 '礼9.35万円',
 '礼9.3万円',
 '礼9.45万円',
 '礼9.4万円',
 '礼9.55万円',
 '礼9.5万円',
 '礼9.6万円',
 '礼9.75万円',
 '礼9.7万円',
 '礼9.8万円',
 '礼9.9万円',
 '礼9万円'}

In [36]:
set(deposit_pre)

{'保証金\xa0-',
 '保証金\xa010.2万円',
 '保証金\xa010.4万円',
 '保証金\xa011万円',
 '保証金\xa012.45万円',
 '保証金\xa013.8万円',
 '保証金\xa013万円',
 '保証金\xa014.6万円',
 '保証金\xa014.8万円',
 '保証金\xa015.8万円',
 '保証金\xa015万円',
 '保証金\xa016.2万円',
 '保証金\xa016.6万円',
 '保証金\xa016.8万円',
 '保証金\xa017.2万円',
 '保証金\xa017万円',
 '保証金\xa018.2万円',
 '保証金\xa027.6万円',
 '保証金\xa036万円',
 '保証金\xa05.28万円',
 '保証金\xa05.55万円',
 '保証金\xa05万円',
 '保証金\xa06.5万円',
 '保証金\xa06.7万円',
 '保証金\xa06.8万円',
 '保証金\xa06万円',
 '保証金\xa07.2万円',
 '保証金\xa07.3万円',
 '保証金\xa07.5万円',
 '保証金\xa07.65万円',
 '保証金\xa07.6万円',
 '保証金\xa07.7万円',
 '保証金\xa07.8万円',
 '保証金\xa07.9万円',
 '保証金\xa07万円',
 '保証金\xa08.15万円',
 '保証金\xa08.2万円',
 '保証金\xa08.3万円',
 '保証金\xa08.4万円',
 '保証金\xa08.5万円',
 '保証金\xa08.7万円',
 '保証金\xa08.95万円',
 '保証金\xa08.9万円',
 '保証金\xa08万円',
 '保証金\xa09.2万円',
 '保証金\xa09.3万円',
 '保証金\xa09.5万円',
 '保証金\xa09万円'}

In [37]:
set(sikibiki_pre)

{'敷引・償却\xa0-\nName:',
 '敷引・償却\xa010.9万円\nName:',
 '敷引・償却\xa010万円\nName:',
 '敷引・償却\xa011.13万円\nName:',
 '敷引・償却\xa011.5万円\nName:',
 '敷引・償却\xa011万円\nName:',
 '敷引・償却\xa012.7万円\nName:',
 '敷引・償却\xa012万円\nName:',
 '敷引・償却\xa013.5万円\nName:',
 '敷引・償却\xa013.6万円\nName:',
 '敷引・償却\xa013.8万円\nName:',
 '敷引・償却\xa013万円\nName:',
 '敷引・償却\xa014万円\nName:',
 '敷引・償却\xa015.8万円\nName:',
 '敷引・償却\xa015万円\nName:',
 '敷引・償却\xa016.2万円\nName:',
 '敷引・償却\xa016.6万円\nName:',
 '敷引・償却\xa017.2万円\nName:',
 '敷引・償却\xa017.9万円\nName:',
 '敷引・償却\xa017万円\nName:',
 '敷引・償却\xa018.2万円\nName:',
 '敷引・償却\xa019.6万円\nName:',
 '敷引・償却\xa019.7万円\nName:',
 '敷引・償却\xa019.9万円\nName:',
 '敷引・償却\xa019万円\nName:',
 '敷引・償却\xa027.6万円\nName:',
 '敷引・償却\xa03.55万円\nName:',
 '敷引・償却\xa03.65万円\nName:',
 '敷引・償却\xa03.75万円\nName:',
 '敷引・償却\xa036万円\nName:',
 '敷引・償却\xa04.3万円\nName:',
 '敷引・償却\xa04万円\nName:',
 '敷引・償却\xa05.3万円\nName:',
 '敷引・償却\xa05.4万円\nName:',
 '敷引・償却\xa05.55万円\nName:',
 '敷引・償却\xa05.9万円\nName:',
 '敷引・償却\xa05万円\nName:',
 '敷引・償却\xa06.2万円\nName:',
 '敷引・償却\xa06.3万円\nName:',
 '敷引・償却\xa06.55万円\nName:',
 '敷引・償却\xa06.5万円\nName:',
 '敷引・償却\xa06.7万円\nName:',
 '敷引・償却\xa06.8万円\nName:',
 '敷引・償却\xa06.9万円\nName:',
 '敷引・償却\xa06万円\nName:',
 '敷引・償却\xa07.05万円\nName:',
 '敷引・償却\xa07.1万円\nName:',
 '敷引・償却\xa07.2万円\nName:',
 '敷引・償却\xa07.3万円\nName:',
 '敷引・償却\xa07.45万円\nName:',
 '敷引・償却\xa07.4万円\nName:',
 '敷引・償却\xa07.55万円\nName:',
 '敷引・償却\xa07.5万円\nName:',
 '敷引・償却\xa07.65万円\nName:',
 '敷引・償却\xa07.6万円\nName:',
 '敷引・償却\xa07.7万円\nName:',
 '敷引・償却\xa07.8万円\nName:',
 '敷引・償却\xa07.9万円\nName:',
 '敷引・償却\xa07万円\nName:',
 '敷引・償却\xa08.12万円\nName:',
 '敷引・償却\xa08.15万円\nName:',
 '敷引・償却\xa08.25万円\nName:',
 '敷引・償却\xa08.2万円\nName:',
 '敷引・償却\xa08.4万円\nName:',
 '敷引・償却\xa08.5万円\nName:',
 '敷引・償却\xa08.6万円\nName:',
 '敷引・償却\xa08.7万円\nName:',
 '敷引・償却\xa08.85万円\nName:',
 '敷引・償却\xa08.8万円\nName:',
 '敷引・償却\xa08.95万円\nName:',
 '敷引・償却\xa08.9万円\nName:',
 '敷引・償却\xa08万円\nName:',
 '敷引・償却\xa09.15万円\nName:',
 '敷引・償却\xa09.3万円\nName:',
 '敷引・償却\xa09.55万円\nName:',
 '敷引・償却\xa09.5万円\nName:',
 '敷引・償却\xa09.6万円\nName:',
 '敷引・償却\xa09.7万円\nName:',
 '敷引・償却\xa09.9万円\nName:',
 '敷引・償却\xa09万円\nName:'}

In [38]:
sikikin_list = []
reikin_list = []
deposit_list = []
sikibiki_list = []

In [39]:
a = "敷引・償却\xa09万円\nName:"
for i in range(0,2):
    print(i,":",a.split('\xa0')[i])

0 : 敷引・償却
1 : 9万円
Name:

In [40]:
for i in sikikin_pre:
    a = i.split("敷")[1]
    if "万円" in a:
        sikikin_list.append(a.replace("万円",""))
    else:
        sikikin_list.append(0)

for i in reikin_pre:
    a = i.split('礼')[1]
    if "万円" in a:
        reikin_list.append(a.replace("万円",""))
    else:
        reikin_list.append(0)

for i in deposit_pre:
    a = i.split('\xa0')[1]
    if "万円" in a:
        deposit_list.append(a.replace("万円",""))
    else:
        deposit_list.append(0)
        
for i in sikibiki_pre:
    a = i.split("\xa0")[1]
    if "万円" in a:
        sikibiki_list.append(a.split("\nName:")[0].replace("万円",""))
    elif "-" in a:
        sikibiki_list.append(0)
    else:
        sikibiki_list.append("実費")

In [41]:
set(sikibiki_list)

{0,
 '10',
 '10.9',
 '11',
 '11.13',
 '11.5',
 '12',
 '12.7',
 '13',
 '13.5',
 '13.6',
 '13.8',
 '14',
 '15',
 '15.8',
 '16.2',
 '16.6',
 '17',
 '17.2',
 '17.9',
 '18.2',
 '19',
 '19.6',
 '19.7',
 '19.9',
 '27.6',
 '3.55',
 '3.65',
 '3.75',
 '36',
 '4',
 '4.3',
 '5',
 '5.3',
 '5.4',
 '5.55',
 '5.9',
 '6',
 '6.2',
 '6.3',
 '6.5',
 '6.55',
 '6.7',
 '6.8',
 '6.9',
 '7',
 '7.05',
 '7.1',
 '7.2',
 '7.3',
 '7.4',
 '7.45',
 '7.5',
 '7.55',
 '7.6',
 '7.65',
 '7.7',
 '7.8',
 '7.9',
 '8',
 '8.12',
 '8.15',
 '8.2',
 '8.25',
 '8.4',
 '8.5',
 '8.6',
 '8.7',
 '8.8',
 '8.85',
 '8.9',
 '8.95',
 '9',
 '9.15',
 '9.3',
 '9.5',
 '9.55',
 '9.6',
 '9.7',
 '9.9'}

In [42]:
df["sikikin"] = pd.Series(sikikin_list).astype(float)
df["reikin"] = pd.Series(reikin_list).astype(float)
df["deposit"] = pd.Series(deposit_list).astype(float)
df["sikibiki"] = pd.Series(sikibiki_list)

In [43]:
df["room"].unique()

array(['0    ワンルーム  15.62m2  -\nName: 2, dtype: object',
       '0    1DK  33.53m2  西\nName: 2, dtype: object',
       '0    1K  25.95m2  南東\nName: 2, dtype: object', ...,
       '0    ワンルーム  13.11m2  南東\nName: 2, dtype: object',
       '0    1K  17m2  南西\nName: 2, dtype: object',
       '0    ワンルーム  17.32m2  南西\nName: 2, dtype: object'], dtype=object)

In [44]:
a = "0    ワンルーム  13.11m2  南東\nName: 2, dtype: object"
for i in range(0,12):
    print(i,":",a.split(' ')[i])

0 : 0
1 :
2 :
3 :
4 : ワンルーム
5 :
6 : 13.11m2
7 :
8 : 南東
Name:
9 : 2,
10 : dtype:
11 : object

In [45]:
room_type_pre = []
area_pre = []
direction_pre = []

In [46]:
for i in df["room"]:
    room_type_pre.append(i.split(" ")[4])
    area_pre.append(i.split(" ")[6])
    direction_pre.append(i.split(" ")[8])

In [47]:
set(direction_pre)

{'-\nName:',
 '北\nName:',
 '北東\nName:',
 '北西\nName:',
 '南\nName:',
 '南東\nName:',
 '南西\nName:',
 '東\nName:',
 '西\nName:'}

In [48]:
set(room_type_pre)

{'1DK',
 '1K',
 '1LDK',
 '1LK',
 '1SDK',
 '1SK',
 '1SLDK',
 '1SLK',
 '2DK',
 '2K',
 '2LDK',
 '2SDK',
 '2SK',
 '3DK',
 '3K',
 '3LDK',
 'ワンルーム'}

In [49]:
set(area_pre)

{'32.46m2',
 '44.55m2',
 '24.84m2',
 '11.31m2',
 '66.22m2',
 '19.32m2',
 '22.35m2',
 '21.5m2',
 '25.48m2',
 '29.76m2',
 '29.67m2',
 '16.01m2',
 '15.82m2',
 '21.78m2',
 '28.36m2',
 '19.72m2',
 '26.74m2',
 '20.63m2',
 '26.53m2',
 '42.17m2',
 '39.53m2',
 '25.16m2',
 '50.16m2',
 '32.38m2',
 '24.17m2',
 '41.23m2',
 '31.81m2',
 '20.8m2',
 '32.8m2',
 '22.04m2',
 '31.45m2',
 '26.13m2',
 '45.2m2',
 '40.01m2',
 '28.4m2',
 '31.04m2',
 '38.7m2',
 '22.54m2',
 '28.48m2',
 '40.16m2',
 '41.31m2',
 '38.67m2',
 '18.27m2',
 '40.19m2',
 '27.76m2',
 '40.4m2',
 '41.01m2',
 '19.84m2',
 '44m2',
 '40.45m2',
 '34.83m2',
 '40.36m2',
 '21.39m2',
 '33.33m2',
 '31.55m2',
 '19.97m2',
 '10.1m2',
 '12.19m2',
 '16.38m2',
 '17.15m2',
 '23.73m2',
 '23.95m2',
 '38m2',
 '66m2',
 '28.59m2',
 '27.62m2',
 '20.18m2',
 '32.64m2',
 '32.89m2',
 '36.35m2',
 '11m2',
 '26.52m2',
 '40.26m2',
 '51.8m2',
 '45m2',
 '30.89m2',
 '42.69m2',
 '40.65m2',
 '19.08m2',
 '42m2',
 '21.45m2',
 '20.35m2',
 '31.92m2',
 '26.44m2',
 '27.03m2',
 '22.27m2',
 '21.7m2',
 '13.64m2',
 '34.48m2',
 '81.5m2',
 '24.13m2',
 '25.39m2',
 '24.22m2',
 '23.3m2',
 '25.94m2',
 '30.66m2',
 '19.46m2',
 '42.52m2',
 '25.61m2',
 '47.38m2',
 '26.1m2',
 '27.74m2',
 '22.15m2',
 '22.7m2',
 '39.6m2',
 '50.31m2',
 '17.42m2',
 '44.4m2',
 '24.57m2',
 '25.85m2',
 '21.8m2',
 '24.65m2',
 '40.12m2',
 '31.67m2',
 '25.33m2',
 '43.59m2',
 '23.18m2',
 '28.93m2',
 '17.35m2',
 '15.39m2',
 '35.03m2',
 '36.25m2',
 '15.64m2',
 '31.1m2',
 '40.84m2',
 '30.09m2',
 '28m2',
 '25.24m2',
 '36.48m2',
 '21.33m2',
 '24.3m2',
 '35.3m2',
 '20.81m2',
 '21.62m2',
 '25.66m2',
 '33.96m2',
 '17m2',
 '26.67m2',
 '28.09m2',
 '22.2m2',
 '21.4m2',
 '25.71m2',
 '40.43m2',
 '20.77m2',
 '24.09m2',
 '46.37m2',
 '28.05m2',
 '20.72m2',
 '36m2',
 '30.68m2',
 '34.12m2',
 '71.13m2',
 '25.14m2',
 '20.05m2',
 '28.2m2',
 '29.54m2',
 '28.99m2',
 '28.47m2',
 '20.11m2',
 '20.65m2',
 '31.32m2',
 '18.22m2',
 '40.31m2',
 '25.32m2',
 '43.96m2',
 '49.54m2',
 '32.58m2',
 '29.86m2',
 '17.08m2',
 '29.28m2',
 '27.99m2',
 '50.43m2',
 '27.54m2',
 '25.86m2',
 '17.31m2',
 '26.78m2',
 '20.32m2',
 '41.05m2',
 '31.68m2',
 '40.03m2',
 '40.32m2',
 '18.91m2',
 '43.8m2',
 '32.17m2',
 '50m2',
 '21.34m2',
 '27.49m2',
 '41.19m2',
 '31.06m2',
 '41.33m2',
 '29.3m2',
 '26.55m2',
 '28.27m2',
 '20.19m2',
 '25.9m2',
 '15.1m2',
 '23.15m2',
 '20.82m2',
 '25.76m2',
 '25.55m2',
 '17.73m2',
 '15.14m2',
 '15.52m2',
 '28.56m2',
 '18.15m2',
 '33.15m2',
 '30.41m2',
 '25.28m2',
 '24.76m2',
 '23.26m2',
 '40.48m2',
 '25.13m2',
 '29.42m2',
 '24.31m2',
 '20.47m2',
 '25.58m2',
 '26.08m2',
 '34.43m2',
 '25.78m2',
 '14m2',
 '17.51m2',
 '25.83m2',
 '14.32m2',
 '20.37m2',
 '40.83m2',
 '50.14m2',
 '23.36m2',
 '47.5m2',
 '23.71m2',
 '27.88m2',
 '41.61m2',
 '36.64m2',
 '44.22m2',
 '17.43m2',
 '51.14m2',
 '16.17m2',
 '19.57m2',
 '22.36m2',
 '20.42m2',
 '20.59m2',
 '20.34m2',
 '25.01m2',
 '26.94m2',
 '26.46m2',
 '40.39m2',
 '21.03m2',
 '39.96m2',
 '19.14m2',
 '48.44m2',
 '55.1m2',
 '53.74m2',
 '77.65m2',
 '41.81m2',
 '34.65m2',
 '26.48m2',
 '50.2m2',
 '53.65m2',
 '24.85m2',
 '38.87m2',
 '40.09m2',
 '31m2',
 '27.45m2',
 '15.62m2',
 '25.77m2',
 '14.75m2',
 '20.04m2',
 '33.7m2',
 '55.42m2',
 '72.13m2',
 '35.67m2',
 '62.7m2',
 '26.39m2',
 '29.92m2',
 '25.62m2',
 '29.7m2',
 '30.42m2',
 '20.5m2',
 '39.15m2',
 '25.93m2',
 '31.5m2',
 '26.79m2',
 '26.85m2',
 '16.39m2',
 '41.99m2',
 '36.47m2',
 '24.39m2',
 '26.47m2',
 '26.29m2',
 '14.22m2',
 '24.5m2',
 '41.11m2',
 '33.64m2',
 '20.4m2',
 '28.49m2',
 '23.14m2',
 '62.99m2',
 '25.88m2',
 '21.56m2',
 '64m2',
 '25m2',
 '18.13m2',
 '21.1m2',
 '30.62m2',
 '21.02m2',
 '27.63m2',
 '22.57m2',
 '85.23m2',
 '15.24m2',
 '44.04m2',
 '25.7m2',
 '43.34m2',
 '43.3m2',
 '18.24m2',
 '25.56m2',
 '42.14m2',
 '25.4m2',
 '37.82m2',
 '12.57m2',
 '58.74m2',
 '15.48m2',
 '18.14m2',
 '57.19m2',
 '28.5m2',
 '21.87m2',
 '21.18m2',
 '23.32m2',
 '41.22m2',
 '24.83m2',
 '18.08m2',
 '47.1m2',
 '46.67m2',
 '47m2',
 '66.94m2',
 '21.31m2',
 '40.72m2',
 '17.32m2',
 '63.03m2',
 '29.18m2',
 '17.71m2',
 '36.6m2',
 '27.97m2',
 '24.37m2',
 '40.96m2',
 '44.3m2',
 '19.86m2',
 '34.51m2',
 '23.9m2',
 '21.95m2',
 '57.12m2',
 '21.71m2',
 '46.23m2',
 '35.93m2',
 '16.48m2',
 '30.45m2',
 '25.38m2',
 '22.92m2',
 '55.25m2',
 '23.2m2',
 '20.15m2',
 '28.97m2',
 '45.43m2',
 '22.09m2',
 '35.19m2',
 '27.72m2',
 '41.14m2',
 '40.95m2',
 '17.4m2',
 '21.73m2',
 '27m2',
 '29m2',
 '19.59m2',
 '41.55m2',
 '28.3m2',
 '34.53m2',
 '40.53m2',
 '22.31m2',
 '37.54m2',
 '22.81m2',
 '27.3m2',
 '15.95m2',
 '30.81m2',
 '65.49m2',
 '23.74m2',
 '28.18m2',
 '23.8m2',
 '28.45m2',
 '24.63m2',
 '11.54m2',
 '16.16m2',
 '31.75m2',
 '49m2',
 '14.15m2',
 '25.35m2',
 '25.29m2',
 '22m2',
 '20.13m2',
 '28.9m2',
 '21.74m2',
 '14.69m2',
 '25.54m2',
 '33.21m2',
 '16.6m2',
 '41.25m2',
 '14.6m2',
 '48.6m2',
 '22.66m2',
 '46.11m2',
 '16.11m2',
 '16.57m2',
 '55.36m2',
 '18.01m2',
 '42.04m2',
 '10.5m2',
 '13.03m2',
 '16.49m2',
 '21.54m2',
 '25.72m2',
 '18.77m2',
 '31.4m2',
 '19.05m2',
 '20.22m2',
 '41.34m2',
 '50.17m2',
 '41.21m2',
 '41.89m2',
 '17.49m2',
 '47.29m2',
 '21.98m2',
 '25.37m2',
 '30.25m2',
 '26.2m2',
 '20.25m2',
 '20.33m2',
 '26.01m2',
 '16.9m2',
 '19.03m2',
 '18.2m2',
 '43.64m2',
 '53m2',
 '41.07m2',
 '27.08m2',
 '30.03m2',
 '21.9m2',
 '20.43m2',
 '47.33m2',
 '24.68m2',
 '27.31m2',
 '15.69m2',
 '23.6m2',
 '15.12m2',
 '37.64m2',
 '20.06m2',
 '43.06m2',
 '25.97m2',
 '21.88m2',
 '32.72m2',
 '25.57m2',
 '20.88m2',
 '57.85m2',
 '23.89m2',
 '66.67m2',
 '15.67m2',
 '39.01m2',
 '20.26m2',
 '30.99m2',
 '33.25m2',
 '41.76m2',
 '40.62m2',
 '31.62m2',
 '26m2',
 '41.63m2',
 '28.04m2',
 '40.14m2',
 '24.12m2',
 '25.25m2',
 '63m2',
 '30.69m2',
 '32.11m2',
 '73.06m2',
 '22.26m2',
 '15.37m2',
 '41.64m2',
 '19.56m2',
 '22.87m2',
 '40.9m2',
 '26.9m2',
 '27.96m2',
 '18.45m2',
 '26.35m2',
 '11.47m2',
 '25.18m2',
 '42.66m2',
 '31.96m2',
 '33.16m2',
 '25.53m2',
 '20.01m2',
 '38.2m2',
 '14.96m2',
 '44.96m2',
 '27.29m2',
 '27.28m2',
 '13.16m2',
 '22.12m2',
 '43.74m2',
 '12.91m2',
 '25.1m2',
 '38.07m2',
 '18.47m2',
 '39.33m2',
 '13.11m2',
 '26.4m2',
 '23.5m2',
 '29.43m2',
 '37.5m2',
 '22.39m2',
 '25.52m2',
 '23.4m2',
 '29.6m2',
 '19.25m2',
 '27.1m2',
 '25.23m2',
 '26.32m2',
 '30.5m2',
 '46.75m2',
 '39m2',
 '16.47m2',
 '16.7m2',
 '13.28m2',
 '25.02m2',
 '33.2m2',
 '21.46m2',
 '30.58m2',
 '20m2',
 '38.52m2',
 '34.02m2',
 '40.18m2',
 '28.06m2',
 '25.73m2',
 '79m2',
 '40.27m2',
 '39.95m2',
 '10.92m2',
 '17.62m2',
 '29.61m2',
 '28.46m2',
 '35m2',
 '28.41m2',
 '26.37m2',
 '21.22m2',
 '76.3m2',
 '29.14m2',
 '25.6m2',
 '21.76m2',
 '37.79m2',
 '33.62m2',
 '23.58m2',
 '42.2m2',
 '21.6m2',
 '18.71m2',
 '25.21m2',
 '22.99m2',
 '63.92m2',
 '33.05m2',
 '38.96m2',
 '23.1m2',
 '36.36m2',
 '25.92m2',
 '19.24m2',
 '24.86m2',
 '30.1m2',
 '67.83m2',
 '22.16m2',
 '47.35m2',
 '14.06m2',
 '29.63m2',
 '14.62m2',
 '18.1m2',
 '39.24m2',
 '45.13m2',
 '22.19m2',
 '38.5m2',
 '21m2',
 '37.17m2',
 '18.63m2',
 '79.9m2',
 '20.16m2',
 '19.07m2',
 '31.8m2',
 '22.59m2',
 '81.21m2',
 '40.13m2',
 '36.46m2',
 '20.69m2',
 '47.62m2',
 '18.28m2',
 '29.59m2',
 '34.59m2',
 '33.88m2',
 '15.75m2',
 '32.83m2',
 '38.97m2',
 '25.34m2',
 '64.7m2',
 '33.37m2',
 '26.91m2',
 '52.67m2',
 '25.5m2',
 '55.5m2',
 '22.58m2',
 '56.75m2',
 '19.01m2',
 '27.93m2',
 '19.44m2',
 '27.18m2',
 '44.73m2',
 '17.01m2',
 '25.44m2',
 '12.46m2',
 '30.53m2',
 '24.95m2',
 '42.43m2',
 '33.89m2',
 '26.88m2',
 '22.65m2',
 '23.94m2',
 '26.15m2',
 '40.8m2',
 '38.64m2',
 '25.81m2',
 '35.12m2',
 '26.62m2',
 '25.3m2',
 '31.64m2',
 '56.14m2',
 '44.46m2',
 '40.75m2',
 '16m2',
 '24.02m2',
 '26.36m2',
 '60m2',
 '25.59m2',
 '22.76m2',
 '31.78m2',
 '34m2',
 '21.43m2',
 '25.96m2',
 '7.56m2',
 '28.02m2',
 '12.48m2',
 '42.91m2',
 '41.98m2',
 '25.05m2',
 '23.49m2',
 '20.12m2',
 '23.39m2',
 '28.53m2',
 '26.31m2',
 '22.51m2',
 '40m2',
 '26.61m2',
 '25.12m2',
 '36.45m2',
 '27.2m2',
 '18.4m2',
 '30.37m2',
 '25.84m2',
 '22.3m2',
 '26.28m2',
 '38.16m2',
 '25.64m2',
 '37m2',
 '29.72m2',
 '51.79m2',
 '26.7m2',
 '29.45m2',
 '22.61m2',
 '30.78m2',
 '15.88m2',
 '20.6m2',
 '19.5m2',
 '19.8m2',
 '29.84m2',
 '33.53m2',
 '28.6m2',
 '40.08m2',
 '17.96m2',
 '30.3m2',
 '16.3m2',
 '26.73m2',
 '14.08m2',
 '37.19m2',
 '23.42m2',
 '40.02m2',
 '41.39m2',
 '42.97m2',
 '18.66m2',
 '30.31m2',
 '12.81m2',
 '30.15m2',
 '25.08m2',
 '41.44m2',
 '13.05m2',
 '19.34m2',
 '16.88m2',
 '30.87m2',
 '23m2',
 '14.37m2',
 '43m2',
 '37.98m2',
 '27.57m2',
 '33.18m2',
 '29.78m2',
 '26.93m2',
 '19.87m2',
 '24.99m2',
 '38.11m2',
 '31.95m2',
 '16.45m2',
 '19.41m2',
 '27.51m2',
 '13.36m2',
 '39.71m2',
 '25.87m2',
 '30.75m2',
 '43.1m2',
 '25.74m2',
 '40.28m2',
 '27.41m2',
 '25.98m2',
 '89.04m2',
 '22.47m2',
 '25.49m2',
 '25.2m2',
 '37.67m2',
 '18.73m2',
 '31.58m2',
 '38.53m2',
 '26.3m2',
 '41.26m2',
 '28.87m2',
 '30.61m2',
 '41.96m2',
 '39.66m2',
 '41.8m2',
 '22.93m2',
 '42.49m2',
 '16.5m2',
 '21.06m2',
 '13.65m2',
 '18m2',
 '22.89m2',
 '37.99m2',
 '28.91m2',
 '26.64m2',
 '34.63m2',
 '29.29m2',
 '28.58m2',
 '33.43m2',
 '20.14m2',
 '24.69m2',
 '14.63m2',
 '30.24m2',
 '39.2m2',
 '21.19m2',
 '16.52m2',
 '41.3m2',
 '26.02m2',
 '30.34m2',
 '22.68m2',
 '40.67m2',
 '19.3m2',
 '27.16m2',
 '40.7m2',
 '26.68m2',
 '23.33m2',
 '17.5m2',
 '50.95m2',
 '20.02m2',
 '30.48m2',
 '26.66m2',
 '26.03m2',
 '35.37m2',
 '42.35m2',
 '62.03m2',
 '63.68m2',
 '20.7m2',
 '22.82m2',
 '26.54m2',
 '53.16m2',
 '50.01m2',
 '19.04m2',
 '22.11m2',
 '37.57m2',
 '25.69m2',
 '36.44m2',
 '21.97m2',
 '42.9m2',
 '39.05m2',
 '58.6m2',
 '25.41m2',
 '34.21m2',
 '33.12m2',
 '48.51m2',
 '29.68m2',
 '40.07m2',
 '63.12m2',
 '25.03m2',
 '21.3m2',
 '56.02m2',
 '22.4m2',
 '32.15m2',
 '40.37m2',
 '58.31m2',
 '15.81m2',
 '25.31m2',
 '40.17m2',
 '25.26m2',
 '24.51m2',
 '43.18m2',
 '43.61m2',
 '22.72m2',
 '25.51m2',
 '21.26m2',
 '18.97m2',
 '16.26m2',
 '17.7m2',
 '15m2',
 '33.17m2',
 '23.85m2',
 '18.49m2',
 '21.47m2',
 '35.95m2',
 '24.2m2',
 '16.8m2',
 '10.67m2',
 '25.15m2',
 '26.43m2',
 '30.72m2',
 '20.23m2',
 '34.71m2',
 '27.01m2',
 '39.13m2',
 '23.12m2',
 '40.52m2',
 '21.37m2',
 '20.29m2',
 '26.33m2',
 '25.11m2',
 '27.19m2',
 '33.58m2',
 '13.74m2',
 '33m2',
 '33.84m2',
 '18.9m2',
 '23.09m2',
 '42.93m2',
 '20.41m2',
 '57.37m2',
 '35.79m2',
 '42.67m2',
 '27.52m2',
 '41.08m2',
 '20.68m2',
 '22.5m2',
 '25.68m2',
 '32.73m2',
 '25.17m2',
 '19m2',
 '30.06m2',
 '25.65m2',
 '35.29m2',
 '24.79m2',
 '41.04m2',
 '25.46m2',
 '25.79m2',
 '25.19m2',
 '19.66m2',
 '19.36m2',
 '24m2',
 '49.27m2',
 '41.74m2',
 '33.5m2',
 '41.1m2',
 '40.21m2',
 '26.76m2',
 '30.35m2',
 '25.42m2',
 '62.93m2',
 '26.41m2',
 '13.98m2',
 '32.5m2',
 '24.48m2',
 '18.6m2',
 '10.32m2',
 '23.75m2',
 '15.73m2',
 '46.41m2',
 '39.22m2',
 '13m2',
 '30.43m2',
 '32.71m2',
 '24.01m2',
 '27.55m2',
 '34.47m2',
 '30m2',
 '43.07m2',
 '14.83m2',
 '34.5m2',
 '60.88m2',
 '80.3m2',
 '16.24m2',
 '12.01m2',
 '14.98m2',
 '25.8m2',
 '35.47m2',
 '10.78m2',
 '21.68m2',
 '26.21m2',
 '25.82m2',
 '27.69m2',
 '24.7m2',
 '7.78m2',
 '32.56m2',
 '16.66m2',
 '22.05m2',
 '27.14m2',
 '17.6m2',
 '35.5m2',
 '63.21m2',
 '22.83m2',
 '19.95m2',
 '20.58m2',
 '23.93m2',
 '40.66m2',
 '43.15m2',
 '45.38m2',
 '27.24m2',
 '53.71m2',
 '20.1m2',
 '24.81m2',
 '15.25m2',
 '12.06m2',
 '40.34m2',
 '22.32m2',
 '37.1m2',
 '26.07m2',
 '21.28m2',
 '35.6m2',
 '22.07m2',
 '25.07m2',
 '27.06m2',
 '15.8m2',
 '21.64m2',
 '25.04m2',
 '42.16m2',
 '31.14m2',
 '21.89m2',
 '25.43m2',
 '28.37m2',
 '47.21m2',
 '20.78m2',
 '20.38m2',
 '32.82m2',
 '23.08m2',
 '13.9m2',
 '40.92m2',
 '39.74m2',
 '17.25m2',
 '46.09m2',
 '21.96m2',
 '30.95m2',
 '24.55m2',
 '76.26m2',
 '20.03m2',
 '27.79m2',
 '77.06m2',
 '20.9m2',
 '10.65m2',
 '25.95m2',
 '26.25m2',
 '40.5m2',
 '32m2',
 '53.45m2',
 '25.22m2',
 '27.75m2',
 '19.68m2',
 '25.27m2',
 '25.67m2',
 '21.2m2',
 '85.59m2',
 '17.28m2',
 '25.47m2',
 '24.71m2',
 '11.1m2',
 '27.35m2',
 '28.1m2',
 '17.84m2',
 '35.48m2',
 '26.05m2',
 '24.33m2',
 ...}

In [50]:
"""
room_list = []
L_list = []
D_list = []
S_list = []
K_list = []
R_list = []
"""

'\nroom_list = []\nL_list = []\nD_list = []\nS_list = []\nK_list = []\nR_list = []\n'

In [51]:
"""
for i in room_type_pre:
    if i == "ワンルーム":
        R_list.append(1)
    else:
        R_list.append(0)
        
    if "L" in i:
        L_list.append(1)
    else:
        L_list.append(0)
    
    if "D" in i:
        D_list.append(1)
    else:
        D_list.append(0)
        
    if "S" in i:
        S_list.append(1)
    else:
        S_list.append(0)
        
    if "K" in i:
        K_list.append(1)
    else:
        K_list.append(0)
    
    if i != "ワンルーム":
        room_list.append(re.sub(r"\D", "", i))
    else:
        room_list.append(0)
"""

'\nfor i in room_type_pre:\n    if i == "ワンルーム":\n        R_list.append(1)\n    else:\n        R_list.append(0)\n        \n    if "L" in i:\n        L_list.append(1)\n    else:\n        L_list.append(0)\n    \n    if "D" in i:\n        D_list.append(1)\n    else:\n        D_list.append(0)\n        \n    if "S" in i:\n        S_list.append(1)\n    else:\n        S_list.append(0)\n        \n    if "K" in i:\n        K_list.append(1)\n    else:\n        K_list.append(0)\n    \n    if i != "ワンルーム":\n        room_list.append(re.sub(r"\\D", "", i))\n    else:\n        room_list.append(0)\n'

In [53]:
#set(L_list)

In [97]:
df["room"] = pd.Series(room_type_pre)
#df["L"] = pd.Series(L_list).astype(int)
#df["D"] = pd.Series(D_list).astype(int)
#df["S"] = pd.Series(S_list).astype(int)
#df["K"] = pd.Series(K_list).astype(int)
#df["R"] = pd.Series(R_list).astype(int)

In [55]:
area_list = []

In [56]:
for i in area_pre:
    area_list.append(i.replace("m2",""))

In [57]:
df["area"] = pd.Series(area_list)

In [58]:
set(direction_pre)

{'-\nName:',
 '北\nName:',
 '北東\nName:',
 '北西\nName:',
 '南\nName:',
 '南東\nName:',
 '南西\nName:',
 '東\nName:',
 '西\nName:'}

In [59]:
direction_pre2 = []

In [60]:
for i in direction_pre:
    direction_pre2.append(i.replace("\nName:",""))

In [61]:
set(direction_pre2)

{'-', '北', '北東', '北西', '南', '南東', '南西', '東', '西'}

In [62]:
direction_list = []

In [63]:
for i in direction_pre2:
    if i == "-":
        direction_list.append("なし")
    else:
        direction_list.append(i)

In [64]:
df["direction"] = pd.Series(direction_list)

In [65]:
type_list = []
age_pre = []

In [66]:
df["age"].unique()

array(['0    マンション  築35年\nName: 3, dtype: object',
       '0    マンション  築13年\nName: 3, dtype: object',
       '0    マンション  築7年\nName: 3, dtype: object',
       '0    マンション  築26年\nName: 3, dtype: object',
       '0    マンション  築3年\nName: 3, dtype: object',
       '0    マンション  築16年\nName: 3, dtype: object',
       '0    マンション  築20年\nName: 3, dtype: object',
       '0    マンション  築14年\nName: 3, dtype: object',
       '0    マンション  新築\nName: 3, dtype: object',
       '0    アパート  築11年\nName: 3, dtype: object',
       '0    マンション  築49年\nName: 3, dtype: object',
       '0    アパート  新築\nName: 3, dtype: object',
       '0    アパート  築1年\nName: 3, dtype: object',
       '0    マンション  築33年\nName: 3, dtype: object',
       '0    マンション  築36年\nName: 3, dtype: object',
       '0    マンション  築8年\nName: 3, dtype: object',
       '0    マンション  築0年\nName: 3, dtype: object',
       '0    アパート  築3年\nName: 3, dtype: object',
       '0    アパート  築7年\nName: 3, dtype: object',
       '0    マンション  築17年\nName: 3, dtype: object',
       '0    マンション  築12年\nName: 3, dtype: object',
       '0    マンション  築5年\nName: 3, dtype: object',
       '0    マンション  築2年\nName: 3, dtype: object',
       '0    マンション  築4年\nName: 3, dtype: object',
       '0    マンション  築15年\nName: 3, dtype: object',
       '0    マンション  築6年\nName: 3, dtype: object',
       '0    マンション  築11年\nName: 3, dtype: object',
       '0    アパート  築15年\nName: 3, dtype: object',
       '0    マンション  築9年\nName: 3, dtype: object',
       '0    マンション  築40年\nName: 3, dtype: object',
       '0    マンション  築30年\nName: 3, dtype: object',
       '0    アパート  築6年\nName: 3, dtype: object',
       '0    マンション  築47年\nName: 3, dtype: object',
       '0    マンション  築22年\nName: 3, dtype: object',
       '0    マンション  築23年\nName: 3, dtype: object',
       '0    マンション  築21年\nName: 3, dtype: object',
       '0    マンション  築24年\nName: 3, dtype: object',
       '0    マンション  築25年\nName: 3, dtype: object',
       '0    マンション  築45年\nName: 3, dtype: object',
       '0    アパート  築4年\nName: 3, dtype: object',
       '0    アパート  築31年\nName: 3, dtype: object',
       '0    マンション  築28年\nName: 3, dtype: object',
       '0    マンション  築31年\nName: 3, dtype: object',
       '0    アパート  築62年\nName: 3, dtype: object',
       '0    アパート  築18年\nName: 3, dtype: object',
       '0    マンション  築10年\nName: 3, dtype: object',
       '0    マンション  築27年\nName: 3, dtype: object',
       '0    アパート  築10年\nName: 3, dtype: object',
       '0    テラス・タウンハウス  築9年\nName: 3, dtype: object',
       '0    アパート  築2年\nName: 3, dtype: object',
       '0    マンション  築1年\nName: 3, dtype: object',
       '0    一戸建て  築6年\nName: 3, dtype: object',
       '0    アパート  築8年\nName: 3, dtype: object',
       '0    マンション  築37年\nName: 3, dtype: object',
       '0    マンション  築29年\nName: 3, dtype: object',
       '0    マンション  築43年\nName: 3, dtype: object',
       '0    アパート  築16年\nName: 3, dtype: object',
       '0    マンション  築18年\nName: 3, dtype: object',
       '0    マンション  築34年\nName: 3, dtype: object',
       '0    マンション  築32年\nName: 3, dtype: object',
       '0    アパート  築13年\nName: 3, dtype: object',
       '0    アパート  築5年\nName: 3, dtype: object',
       '0    マンション  築19年\nName: 3, dtype: object',
       '0    マンション  築46年\nName: 3, dtype: object',
       '0    マンション  築50年\nName: 3, dtype: object',
       '0    マンション  築38年\nName: 3, dtype: object',
       '0    マンション  築42年\nName: 3, dtype: object',
       '0    アパート  築36年\nName: 3, dtype: object',
       '0    マンション  築44年\nName: 3, dtype: object',
       '0    マンション  築53年\nName: 3, dtype: object',
       '0    マンション  築48年\nName: 3, dtype: object',
       '0    アパート  築30年\nName: 3, dtype: object',
       '0    マンション  築56年\nName: 3, dtype: object',
       '0    アパート  築9年\nName: 3, dtype: object',
       '0    アパート  築24年\nName: 3, dtype: object',
       '0    マンション  築51年\nName: 3, dtype: object',
       '0    マンション  築41年\nName: 3, dtype: object',
       '0    アパート  築17年\nName: 3, dtype: object',
       '0    一戸建て  築15年\nName: 3, dtype: object',
       '0    アパート  築34年\nName: 3, dtype: object',
       '0    アパート  築35年\nName: 3, dtype: object',
       '0    アパート  築0年\nName: 3, dtype: object',
       '0    アパート  築44年\nName: 3, dtype: object',
       '0    マンション  築39年\nName: 3, dtype: object',
       '0    マンション  築55年\nName: 3, dtype: object',
       '0    アパート  築29年\nName: 3, dtype: object',
       '0    アパート  築64年\nName: 3, dtype: object',
       '0    マンション  築62年\nName: 3, dtype: object',
       '0    テラス・タウンハウス  築68年\nName: 3, dtype: object',
       '0    アパート  築43年\nName: 3, dtype: object',
       '0    アパート  築61年\nName: 3, dtype: object',
       '0    マンション  築52年\nName: 3, dtype: object',
       '0    マンション  築58年\nName: 3, dtype: object',
       '0    アパート  築56年\nName: 3, dtype: object',
       '0    アパート  築23年\nName: 3, dtype: object',
       '0    アパート  築14年\nName: 3, dtype: object',
       '0    一戸建て  築19年\nName: 3, dtype: object',
       '0    一戸建て  築48年\nName: 3, dtype: object',
       '0    アパート  築25年\nName: 3, dtype: object',
       '0    一戸建て  築60年\nName: 3, dtype: object',
       '0    一戸建て  築47年\nName: 3, dtype: object',
       '0    アパート  築12年\nName: 3, dtype: object',
       '0    一戸建て  築34年\nName: 3, dtype: object',
       '0    アパート  築58年\nName: 3, dtype: object',
       '0    アパート  築67年\nName: 3, dtype: object',
       '0    アパート  築70年\nName: 3, dtype: object',
       '0    アパート  築41年\nName: 3, dtype: object',
       '0    一戸建て  築55年\nName: 3, dtype: object',
       '0    マンション  築54年\nName: 3, dtype: object',
       '0    アパート  築21年\nName: 3, dtype: object',
       '0    アパート  築19年\nName: 3, dtype: object',
       '0    アパート  築37年\nName: 3, dtype: object',
       '0    アパート  築51年\nName: 3, dtype: object',
       '0    一戸建て  築44年\nName: 3, dtype: object',
       '0    アパート  築49年\nName: 3, dtype: object',
       '0    アパート  築40年\nName: 3, dtype: object',
       '0    アパート  築52年\nName: 3, dtype: object',
       '0    アパート  築59年\nName: 3, dtype: object',
       '0    アパート  築60年\nName: 3, dtype: object',
       '0    一戸建て  築53年\nName: 3, dtype: object',
       '0    アパート  築39年\nName: 3, dtype: object',
       '0    アパート  築48年\nName: 3, dtype: object',
       '0    アパート  築57年\nName: 3, dtype: object',
       '0    アパート  築45年\nName: 3, dtype: object'], dtype=object)

In [67]:
a = "0    マンション  築35年\nName: 3, dtype: object"

In [68]:
for i in range(0,10):
    print(i,":",a.split(" ")[i])

0 : 0
1 :
2 :
3 :
4 : マンション
5 :
6 : 築35年
Name:
7 : 3,
8 : dtype:
9 : object

In [69]:
for i in df["age"]:
    type_list.append(i.split(" ")[4])
    age_pre.append(i.split(" ")[6])

In [70]:
set(type_list)

{'アパート', 'テラス・タウンハウス', 'マンション', '一戸建て'}

In [71]:
set(age_pre)

{'新築\nName:',
 '築0年\nName:',
 '築10年\nName:',
 '築11年\nName:',
 '築12年\nName:',
 '築13年\nName:',
 '築14年\nName:',
 '築15年\nName:',
 '築16年\nName:',
 '築17年\nName:',
 '築18年\nName:',
 '築19年\nName:',
 '築1年\nName:',
 '築20年\nName:',
 '築21年\nName:',
 '築22年\nName:',
 '築23年\nName:',
 '築24年\nName:',
 '築25年\nName:',
 '築26年\nName:',
 '築27年\nName:',
 '築28年\nName:',
 '築29年\nName:',
 '築2年\nName:',
 '築30年\nName:',
 '築31年\nName:',
 '築32年\nName:',
 '築33年\nName:',
 '築34年\nName:',
 '築35年\nName:',
 '築36年\nName:',
 '築37年\nName:',
 '築38年\nName:',
 '築39年\nName:',
 '築3年\nName:',
 '築40年\nName:',
 '築41年\nName:',
 '築42年\nName:',
 '築43年\nName:',
 '築44年\nName:',
 '築45年\nName:',
 '築46年\nName:',
 '築47年\nName:',
 '築48年\nName:',
 '築49年\nName:',
 '築4年\nName:',
 '築50年\nName:',
 '築51年\nName:',
 '築52年\nName:',
 '築53年\nName:',
 '築54年\nName:',
 '築55年\nName:',
 '築56年\nName:',
 '築57年\nName:',
 '築58年\nName:',
 '築59年\nName:',
 '築5年\nName:',
 '築60年\nName:',
 '築61年\nName:',
 '築62年\nName:',
 '築64年\nName:',
 '築67年\nName:',
 '築68年\nName:',
 '築6年\nName:',
 '築70年\nName:',
 '築7年\nName:',
 '築8年\nName:',
 '築9年\nName:'}

In [72]:
age_pre2 = []

In [73]:
for i in age_pre:
    age_pre2.append(i.replace("\nName:",""))

In [74]:
set(age_pre2)

{'新築',
 '築0年',
 '築10年',
 '築11年',
 '築12年',
 '築13年',
 '築14年',
 '築15年',
 '築16年',
 '築17年',
 '築18年',
 '築19年',
 '築1年',
 '築20年',
 '築21年',
 '築22年',
 '築23年',
 '築24年',
 '築25年',
 '築26年',
 '築27年',
 '築28年',
 '築29年',
 '築2年',
 '築30年',
 '築31年',
 '築32年',
 '築33年',
 '築34年',
 '築35年',
 '築36年',
 '築37年',
 '築38年',
 '築39年',
 '築3年',
 '築40年',
 '築41年',
 '築42年',
 '築43年',
 '築44年',
 '築45年',
 '築46年',
 '築47年',
 '築48年',
 '築49年',
 '築4年',
 '築50年',
 '築51年',
 '築52年',
 '築53年',
 '築54年',
 '築55年',
 '築56年',
 '築57年',
 '築58年',
 '築59年',
 '築5年',
 '築60年',
 '築61年',
 '築62年',
 '築64年',
 '築67年',
 '築68年',
 '築6年',
 '築70年',
 '築7年',
 '築8年',
 '築9年'}

In [75]:
age_list = []

In [76]:
for i in age_pre2:
    if i == "新築":
        age_list.append(0)
    else:
        age_list.append(re.sub(r"\D", "", i))

In [77]:
set(age_list)

{0,
 '0',
 '1',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '2',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '3',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '4',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '5',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '6',
 '60',
 '61',
 '62',
 '64',
 '67',
 '68',
 '7',
 '70',
 '8',
 '9'}

In [78]:
df["type"] = pd.Series(type_list)
df["age"] = pd.Series(age_list).astype(float)

In [79]:
df = df.drop("sikikinreikin",axis=1)

In [80]:
df["sikibiki"].unique()

array([0, '6.5', '9.3', '8.2', '13.5', '15.8', '8.6', '4', '3.75', '7.9',
       '12.7', '14', '7.65', '13.8', '19.6', '19.7', '7.4', '8.8', '19.9',
       '9.55', '11.5', '3.55', '6.7', '6.8', '7.05', '12', '7.7', '3.65',
       '9.9', '8.5', '5.3', '8.85', '8.9', '8.7', '19', '9.15', '15',
       '8.15', '8.12', '7.8', '6', '9', '8', '9.7', '6.9', '6.2', '7.6',
       '7.5', '5.55', '5.9', '7.3', '5', '27.6', '17.9', '36', '7.45',
       '11.13', '7', '8.4', '11', '6.3', '7.2', '13.6', '9.6', '4.3',
       '8.95', '18.2', '17.2', '17', '16.6', '16.2', '7.1', '9.5', '10',
       '13', '10.9', '8.25', '5.4', '7.55', '6.55'], dtype=object)

In [81]:
df[df["sikibiki"]=="実費"]

Empty DataFrame
Columns: [name, station, price, room, age, address, line, bus, walk, time, manage, sikikin, reikin, deposit, sikibiki, area, direction, type]
Index: []

In [82]:
df["sikikin"][7411]

8.0

In [83]:
df["sikibiki"][7619]

0

In [84]:
df["sikikin"][7619]

8.4

In [85]:
df["address"].unique()

array(['0    東京都葛飾区立石２\nName: 4, dtype: object',
       '0    東京都墨田区横川３\nName: 4, dtype: object',
       '0    東京都墨田区押上１\nName: 4, dtype: object',
       '0    東京都墨田区押上２\nName: 4, dtype: object',
       '0    東京都江戸川区平井４\nName: 4, dtype: object',
       '0    東京都墨田区業平２\nName: 4, dtype: object',
       '0    東京都墨田区横川４\nName: 4, dtype: object',
       '0    東京都墨田区向島２\nName: 4, dtype: object',
       '0    東京都墨田区横川２\nName: 4, dtype: object',
       '0    東京都江東区亀戸３\nName: 4, dtype: object',
       '0    東京都墨田区向島３\nName: 4, dtype: object',
       '0    東京都江戸川区平井７\nName: 4, dtype: object',
       '0    東京都江戸川区平井５\nName: 4, dtype: object',
       '0    東京都江戸川区平井６\nName: 4, dtype: object',
       '0    東京都墨田区業平４\nName: 4, dtype: object',
       '0    東京都墨田区向島４\nName: 4, dtype: object',
       '0    東京都墨田区京島２\nName: 4, dtype: object',
       '0    東京都墨田区業平５\nName: 4, dtype: object',
       '0    東京都墨田区向島５\nName: 4, dtype: object',
       '0    東京都墨田区文花１\nName: 4, dtype: object',
       '0    東京都墨田区押上３\nName: 4, dtype: object',
       '0    東京都墨田区業平３\nName: 4, dtype: object',
       '0    東京都墨田区横川５\nName: 4, dtype: object',
       '0    東京都墨田区業平１\nName: 4, dtype: object',
       '0    東京都墨田区横川１\nName: 4, dtype: object',
       '0    東京都葛飾区西新小岩５\nName: 4, dtype: object',
       '0    東京都江東区亀戸４\nName: 4, dtype: object',
       '0    東京都墨田区東向島２\nName: 4, dtype: object',
       '0    東京都墨田区本所４\nName: 4, dtype: object',
       '0    東京都台東区浅草６\nName: 4, dtype: object',
       '0    東京都江東区亀戸２\nName: 4, dtype: object',
       '0    東京都墨田区向島１\nName: 4, dtype: object',
       '0    東京都墨田区緑４\nName: 4, dtype: object',
       '0    東京都墨田区立花１\nName: 4, dtype: object',
       '0    東京都墨田区東駒形４\nName: 4, dtype: object',
       '0    東京都墨田区京島３\nName: 4, dtype: object',
       '0    東京都墨田区太平１\nName: 4, dtype: object',
       '0    東京都墨田区太平３\nName: 4, dtype: object',
       '0    東京都墨田区八広２\nName: 4, dtype: object',
       '0    東京都墨田区石原３\nName: 4, dtype: object',
       '0    東京都墨田区文花２\nName: 4, dtype: object',
       '0    東京都墨田区東向島６\nName: 4, dtype: object',
       '0    東京都墨田区吾妻橋１\nName: 4, dtype: object',
       '0    東京都墨田区東向島１\nName: 4, dtype: object',
       '0    東京都墨田区太平４\nName: 4, dtype: object',
       '0    東京都墨田区京島１\nName: 4, dtype: object',
       '0    東京都墨田区太平２\nName: 4, dtype: object',
       '0    東京都墨田区本所３\nName: 4, dtype: object',
       '0    東京都墨田区錦糸２\nName: 4, dtype: object',
       '0    東京都墨田区東駒形３\nName: 4, dtype: object',
       '0    東京都墨田区東向島５\nName: 4, dtype: object',
       '0    東京都墨田区墨田１\nName: 4, dtype: object',
       '0    東京都墨田区八広１\nName: 4, dtype: object',
       '0    東京都墨田区立花２\nName: 4, dtype: object',
       '0    東京都墨田区吾妻橋３\nName: 4, dtype: object',
       '0    東京都墨田区吾妻橋２\nName: 4, dtype: object',
       '0    東京都墨田区立花５\nName: 4, dtype: object',
       '0    東京都墨田区江東橋２\nName: 4, dtype: object',
       '0    東京都墨田区東向島４\nName: 4, dtype: object',
       '0    東京都台東区駒形１\nName: 4, dtype: object',
       '0    東京都墨田区墨田４\nName: 4, dtype: object',
       '0    東京都墨田区八広４\nName: 4, dtype: object',
       '0    東京都墨田区本所２\nName: 4, dtype: object',
       '0    東京都墨田区堤通１\nName: 4, dtype: object',
       '0    東京都墨田区東向島３\nName: 4, dtype: object',
       '0    東京都墨田区八広６\nName: 4, dtype: object',
       '0    東京都墨田区東駒形２\nName: 4, dtype: object',
       '0    東京都墨田区八広３\nName: 4, dtype: object',
       '0    東京都墨田区錦糸１\nName: 4, dtype: object',
       '0    東京都墨田区東駒形１\nName: 4, dtype: object',
       '0    東京都墨田区立花３\nName: 4, dtype: object',
       '0    東京都墨田区錦糸３\nName: 4, dtype: object',
       '0    東京都墨田区石原４\nName: 4, dtype: object',
       '0    東京都台東区今戸１\nName: 4, dtype: object',
       '0    東京都墨田区錦糸４\nName: 4, dtype: object',
       '0    東京都台東区今戸２\nName: 4, dtype: object',
       '0    東京都台東区花川戸２\nName: 4, dtype: object',
       '0    東京都台東区浅草７\nName: 4, dtype: object',
       '0    東京都墨田区墨田３\nName: 4, dtype: object',
       '0    東京都墨田区本所１\nName: 4, dtype: object',
       '0    東京都墨田区亀沢４\nName: 4, dtype: object',
       '0    東京都江東区亀戸５\nName: 4, dtype: object',
       '0    東京都墨田区文花３\nName: 4, dtype: object',
       '0    東京都台東区浅草２\nName: 4, dtype: object',
       '0    東京都墨田区東墨田２\nName: 4, dtype: object',
       '0    東京都墨田区立花４\nName: 4, dtype: object'], dtype=object)

In [86]:
a = "0    東京都墨田区立花４\nName: 4, dtype: object"

In [87]:
for i in range(0,8):
    print(i,":",a.split(" ")[i])

0 : 0
1 :
2 :
3 :
4 : 東京都墨田区立花４
Name:
5 : 4,
6 : dtype:
7 : object

In [88]:
address_pre = []

In [89]:
for i in df["address"]:
    address_pre.append(i.split(" ")[4])

In [90]:
address_list = []

In [91]:
for i in address_pre:
    address_list.append(i.replace("\nName:",""))

In [92]:
set(address_list)

{'東京都台東区今戸１',
 '東京都台東区今戸２',
 '東京都台東区浅草２',
 '東京都台東区浅草６',
 '東京都台東区浅草７',
 '東京都台東区花川戸２',
 '東京都台東区駒形１',
 '東京都墨田区亀沢４',
 '東京都墨田区京島１',
 '東京都墨田区京島２',
 '東京都墨田区京島３',
 '東京都墨田区八広１',
 '東京都墨田区八広２',
 '東京都墨田区八広３',
 '東京都墨田区八広４',
 '東京都墨田区八広６',
 '東京都墨田区向島１',
 '東京都墨田区向島２',
 '東京都墨田区向島３',
 '東京都墨田区向島４',
 '東京都墨田区向島５',
 '東京都墨田区吾妻橋１',
 '東京都墨田区吾妻橋２',
 '東京都墨田区吾妻橋３',
 '東京都墨田区堤通１',
 '東京都墨田区墨田１',
 '東京都墨田区墨田３',
 '東京都墨田区墨田４',
 '東京都墨田区太平１',
 '東京都墨田区太平２',
 '東京都墨田区太平３',
 '東京都墨田区太平４',
 '東京都墨田区押上１',
 '東京都墨田区押上２',
 '東京都墨田区押上３',
 '東京都墨田区文花１',
 '東京都墨田区文花２',
 '東京都墨田区文花３',
 '東京都墨田区本所１',
 '東京都墨田区本所２',
 '東京都墨田区本所３',
 '東京都墨田区本所４',
 '東京都墨田区東向島１',
 '東京都墨田区東向島２',
 '東京都墨田区東向島３',
 '東京都墨田区東向島４',
 '東京都墨田区東向島５',
 '東京都墨田区東向島６',
 '東京都墨田区東墨田２',
 '東京都墨田区東駒形１',
 '東京都墨田区東駒形２',
 '東京都墨田区東駒形３',
 '東京都墨田区東駒形４',
 '東京都墨田区業平１',
 '東京都墨田区業平２',
 '東京都墨田区業平３',
 '東京都墨田区業平４',
 '東京都墨田区業平５',
 '東京都墨田区横川１',
 '東京都墨田区横川２',
 '東京都墨田区横川３',
 '東京都墨田区横川４',
 '東京都墨田区横川５',
 '東京都墨田区江東橋２',
 '東京都墨田区石原３',
 '東京都墨田区石原４',
 '東京都墨田区立花１',
 '東京都墨田区立花２',
 '東京都墨田区立花３',
 '東京都墨田区立花４',
 '東京都墨田区立花５',
 '東京都墨田区緑４',
 '東京都墨田区錦糸１',
 '東京都墨田区錦糸２',
 '東京都墨田区錦糸３',
 '東京都墨田区錦糸４',
 '東京都江戸川区平井４',
 '東京都江戸川区平井５',
 '東京都江戸川区平井６',
 '東京都江戸川区平井７',
 '東京都江東区亀戸２',
 '東京都江東区亀戸３',
 '東京都江東区亀戸４',
 '東京都江東区亀戸５',
 '東京都葛飾区立石２',
 '東京都葛飾区西新小岩５'}

In [93]:
df["address"] = pd.Series(address_list)

In [98]:
df.columns

Index(['name', 'station', 'price', 'room', 'age', 'address', 'line', 'bus',
       'walk', 'time', 'manage', 'sikikin', 'reikin', 'deposit', 'sikibiki',
       'area', 'direction', 'type'],
      dtype='object')

In [99]:
df = df.reindex(columns=["name","price","age","manage","sikikin","reikin","deposit","sikibiki","line","bus","walk","time","room","area","direction","type","address"])

In [100]:
df

,name,price,age,manage,sikikin,reikin,deposit,sikibiki,line,bus,walk,time,room,area,direction,type,address
0,グラン立石,4.40,35.0,0.0,0.0,0.00,0.0,0,京成押上線,0,1,10.0,ワンルーム,15.62,なし,マンション,東京都葛飾区立石２
1,グラン立石,4.40,35.0,0.0,0.0,0.00,0.0,0,京成押上線,0,1,10.0,ワンルーム,15.62,なし,マンション,東京都葛飾区立石２
2,グレイス・コート,10.45,13.0,6000.0,0.0,10.45,0.0,0,東京メトロ半蔵門線,0,1,6.0,1DK,33.53,西,マンション,東京都墨田区横川３
3,東京メトロ半蔵門線 押上駅 6階建 築13年,10.45,13.0,6000.0,0.0,10.45,0.0,0,東京メトロ半蔵門線,0,1,6.0,1DK,33.53,西,マンション,東京都墨田区横川３
4,東京メトロ半蔵門線 押上駅 4階建 築13年,8.60,13.0,4000.0,0.0,8.60,0.0,0,東京メトロ半蔵門線,0,1,7.0,1K,25.95,南東,マンション,東京都墨田区押上１
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16135,トップ押上 209号室,5.10,36.0,9000.0,0.0,0.00,0.0,0,京成押上線,0,1,4.0,ワンルーム,13.11,南西,マンション,東京都墨田区向島３
16136,トップ押上,5.10,36.0,9000.0,0.0,0.00,0.0,0,東京メトロ半蔵門線,0,1,4.0,ワンルーム,13.11,南西,マンション,東京都墨田区向島３
16137,ＪＲ総武線 亀戸駅 4階建 築34年,5.80,34.0,2000.0,0.0,5.80,0.0,0,東京メトロ半蔵門線,0,1,19.0,1K,17,南西,マンション,東京都墨田区立花１
16138,キングスガーデン,6.40,16.0,5000.0,6.4,6.40,0.0,0,東京メトロ半蔵門線,0,1,23.0,ワンルーム,17.32,南西,マンション,東京都墨田区立花４
16139,ＪＲ総武線 平井駅 9階建 築16年,6.40,16.0,5000.0,6.4,6.40,0.0,0,東京メトロ半蔵門線,0,1,23.0,ワンルーム,17.32,南西,マンション,東京都墨田区立花４

In [101]:
df.to_csv("data/suumo_data.csv",index=False)

In [108]:
df = pd.read_csv('data/suumo_data.csv')

In [109]:
df.head()

,name,price,age,manage,sikikin,reikin,deposit,sikibiki,line,bus,walk,time,room,area,direction,type,address
0,グラン立石,4.40,35.0,0.0,0.0,0.00,0.0,0.0,京成押上線,0,1,10.0,ワンルーム,15.62,なし,マンション,東京都葛飾区立石２
1,グラン立石,4.40,35.0,0.0,0.0,0.00,0.0,0.0,京成押上線,0,1,10.0,ワンルーム,15.62,なし,マンション,東京都葛飾区立石２
2,グレイス・コート,10.45,13.0,6000.0,0.0,10.45,0.0,0.0,東京メトロ半蔵門線,0,1,6.0,1DK,33.53,西,マンション,東京都墨田区横川３
3,東京メトロ半蔵門線 押上駅 6階建 築13年,10.45,13.0,6000.0,0.0,10.45,0.0,0.0,東京メトロ半蔵門線,0,1,6.0,1DK,33.53,西,マンション,東京都墨田区横川３
4,東京メトロ半蔵門線 押上駅 4階建 築13年,8.60,13.0,4000.0,0.0,8.60,0.0,0.0,東京メトロ半蔵門線,0,1,7.0,1K,25.95,南東,マンション,東京都墨田区押上１

In [110]:
from sklearn.preprocessing import LabelEncoder

In [111]:
le_line = LabelEncoder()
df["line"] = le_line.fit_transform(df["line"])

In [112]:
le_room = LabelEncoder()
df["room"] = le_room.fit_transform(df["room"])

In [113]:
le_dir = LabelEncoder()
df["direction"] = le_dir.fit_transform(df["direction"])

In [114]:
le_type = LabelEncoder()
df["type"] = le_type.fit_transform(df["type"])

In [115]:
le_add = LabelEncoder()
df["address"] = le_add.fit_transform(df["address"])

In [116]:
df

,name,price,age,manage,sikikin,reikin,deposit,sikibiki,line,bus,walk,time,room,area,direction,type,address
0,グラン立石,4.40,35.0,0.0,0.0,0.00,0.0,0.0,0,0,1,10.0,16,15.62,0,2,84
1,グラン立石,4.40,35.0,0.0,0.0,0.00,0.0,0.0,0,0,1,10.0,16,15.62,0,2,84
2,グレイス・コート,10.45,13.0,6000.0,0.0,10.45,0.0,0.0,1,0,1,6.0,0,33.53,8,2,60
3,東京メトロ半蔵門線 押上駅 6階建 築13年,10.45,13.0,6000.0,0.0,10.45,0.0,0.0,1,0,1,6.0,0,33.53,8,2,60
4,東京メトロ半蔵門線 押上駅 4階建 築13年,8.60,13.0,4000.0,0.0,8.60,0.0,0.0,1,0,1,7.0,1,25.95,5,2,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16135,トップ押上 209号室,5.10,36.0,9000.0,0.0,0.00,0.0,0.0,0,0,1,4.0,16,13.11,6,2,18
16136,トップ押上,5.10,36.0,9000.0,0.0,0.00,0.0,0.0,1,0,1,4.0,16,13.11,6,2,18
16137,ＪＲ総武線 亀戸駅 4階建 築34年,5.80,34.0,2000.0,0.0,5.80,0.0,0.0,1,0,1,19.0,1,17.00,6,2,66
16138,キングスガーデン,6.40,16.0,5000.0,6.4,6.40,0.0,0.0,1,0,1,23.0,16,17.32,6,2,69
16139,ＪＲ総武線 平井駅 9階建 築16年,6.40,16.0,5000.0,6.4,6.40,0.0,0.0,1,0,1,23.0,16,17.32,6,2,69

In [117]:
df.to_csv("data/suumo_data.csv",index=False)